@import "../../common.scss";

.blogsinner_main {
  position: relative;
  padding: 10em 0 0;
  .blogsinner_background {
    position: absolute;
    // position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    // min-height: auto;
    z-index: -1;
    object-fit: cover;
    // object-position: top;
  }
}

.blogsinner_sec1 {
  .breadcrumb_wrapper {
    border-bottom: none;
  }
  .bread_block {
    display: block;
  }
}

.blogsinner_sec2 {
  position: relative;
  padding: 3.75em 0 7.5em;
  &::before {
    content: "";
    background-color: #a9a9a9;
    width: 100%;
    max-width: 92.5733%;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .hero_img {
    width: 100%;
    max-width: 85.25em;
    // max-width: 81.677%;
    margin: 0 auto;
    display: block;
    // border-radius: 20px;
  }
  .desc_wrapper {
    padding: 2.5em 0 5em;
    width: 100%;
    max-width: 68em;
    margin: 0 auto;
    .desc {
      color: #ffffff;
      font-size: 1.125em;
      font-weight: 400;
      letter-spacing: 0.36px;
      line-height: 1.778;
      margin-bottom: 1.5em;
      opacity: 0.8;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .social_media_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .social_icon {
      width: 100%;
      max-width: 2.2332em;
      margin-right: 1.4375em;
    }
  }
}

@media (max-width: 1080px) {
  .blogsinner_sec2 {
    &::before {
      max-width: 91.42%;
    }
  }
}

@media (max-width: 834px) {
  .blogsinner_sec1 {
    .bread_block {
      display: inline;
    }
  }
}

@media (max-width: 767px) {
  .blogsinner_main {
    padding: 5em 0 0;
  }
  .blogsinner_sec2 {
    padding: 4em 0 4em;
    .hero_img {
      max-width: 100%;
      // border-radius: 11px;
    }
    .desc_wrapper {
      padding: 2em 0 4em;
      .desc {
        font-size: 1.6em;
        margin-bottom: 1.5em;
      }
    }
    .social_media_wrapper {
      .social_icon {
        max-width: 2.6em;
        margin-right: 1.2em;
      }
    }
  }
}
