.profile_overview_container {
  .overview_container {
    .data_container {
      padding: 2.625em 0 0;
      padding-top: 2.5em;
      display: none;

      .title {
        color: #111111;
        font-size: 2.25em;
        font-weight: 600;
        letter-spacing: 0.72px;
        line-height: 1.25;
        margin-bottom: 0.445em;
      }

      .sub_title {
        color: #111111;
        font-size: 2.25em;
        font-weight: 600;
        letter-spacing: 0.56px;
        line-height: normal;
        margin-bottom: 0.572em;
      }

      .desc {
        color: #000000;
        font-size: 1.25em;
        font-weight: 600;
        letter-spacing: 0.4px;
        line-height: 1.7;
        opacity: 0.8;
        margin-bottom: 1.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .cta_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.25em;

        .title {
          margin-bottom: 0;
        }
      }

      .cta_wrapper {
        display: flex;
        align-items: center;

        .edit_icon {
          width: 100%;
          max-width: 1.099em;
          min-width: 1.099em;
          margin-right: 0.375em;
          display: block;
        }
      }

      .about_container {
        .text_container {
          margin-bottom: 2.75em;

          .desc {
            padding-right: 0;
            font-weight: 500;

            // Multiline ellipsis (works on modern browsers)
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;

          }

          .expanded_container {
            display: block !important;
            -webkit-box-orient: initial !important;
            -webkit-line-clamp: initial !important;
            overflow: visible !important;
          }
        }
      }

      .product_container {
        .wrapper_title_cta_overView {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }

        .list_wrapper {
          margin-left: -0.9375em;
        }

        .ul_wr_radio {
          margin-bottom: 1.25em;

          label {
            font-size: 1.125em;
            padding: 1em 1.333em;
            margin-bottom: 1.111em;
          }
        }
      }

      .focus_container {
        margin-top: 0;
        padding-top: 2.5em;
        border-top: 1px solid #70707066;
        border-bottom: 0px solid rgba(112, 112, 112, 0.4);
        padding-bottom: 0em;

        .focus_wrapper {
          display: flex;
          // flex-wrap: wrap;
          overflow-x: auto;
        }

        .focus_box {
          display: flex;
          align-items: center;
          margin-right: 2.5em;

          &:last-child {
            margin-right: 0;
          }
        }

        .focus_img {
          width: 100%;
          max-width: 1.125em;
        }

        .focus_title {
          color: #111111;
          font-size: 1.25em;
          font-weight: 500;
          letter-spacing: 0px;
          line-height: 1.08;
          opacity: 0.8;
          margin-left: 0.3em;
          white-space: nowrap;
        }
      }
    }

    .data_container.active {
      display: block;
    }
  }
}

.profile__overview--container {
  .prd_cont_serv {
    padding-top: 2em;
  }
.pill_style--project-typology{
  font-size: 0.9em !important;
  position: relative;
  left: -1em;
}
  .select_field_container {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .location_icon {
    max-width: 1em !important;
    margin-right: 0.6em !important;
  }

  .select_title {
    margin-left: 0em !important;
    text-transform: uppercase !important;
  }

  .select_field {
    margin-left: 1.1em !important;
    margin-top: 0.2em !important;
    min-width: 30.5em !important;
    margin-bottom: 1em;
    // max-width: 15.8em;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  .data_container {
    padding-top: 0 !important;
  }

  .rating_container {
    padding-top: 0 !important;
  }

  .heding_loc_bview {
    position: relative;
    top: -0.4em;
  }

  .wrp_st_loc_bview {
    position: relative;
    top: -1.35em;
  }

  .common_ul_popups {
    .common_li_popup {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: 0.5em;
      margin-left: 0.5em;
      font-size: 1.25em;
      color: #676767;
      margin-bottom: 1.091em;
      min-width: 100%;

      &::before {
        content: "";
        position: absolute;
        left: -0.5em;
        top: 50%;
        transform: translateY(-50%);
        width: 0.4em;
        height: 0.4em;
        background-color: #EF7B13;
        border-radius: 50%;
        top: 0.7em;
      }

      .bold_common_li_popup {
        padding: 0;
        color: #111111;
        font-weight: 600;
        margin-left: 0em;
        margin-top: 0.5em;
        max-width: 100%;
      }

      .wrp_ov_text {
        min-width: fit-content;
      }
    }
  }

  .pills_common_li_popup {
    display: flex;
    flex-wrap: wrap;
  }

  .pill_span_li {
    position: relative;
    display: inline-block;
    font-size: 1.125em;
    border-radius: 10em;
    padding: 1em 1.333em;
    margin-right: 0.9375em;
    // margin-top: -0.5em;
    margin-bottom: 1.111em;
    background-color: white;
    color: #111111;
    font-weight: 500;
    border: 1px solid #8D8D8D;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
    line-height: 100%;

  }

}



@media (max-width: 992px) {
  .profile__overview--container {
    .overview_container {
      .data_container {

        .about_container,
        .scroll_text_container,
        .focus_container {
          background-color: transparent !important;
          border: 0px !important;
          padding: 0px !important;
        }
      }
    }

  }
}

@media (max-width: 991px) {


  .profile_overview_container {
    .overview_container {
      .data_container {
        .about_container {
          .text_container {
            .desc {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .profile_overview_container {
    .overview_container {
      .data_container {
        padding-top: 2em;

        .ul_wr_radio {
          label {
            padding: 0.711em 1.4em !important;
          }
        }

        .title {
          font-size: 1.6em;
          letter-spacing: 0.32px;
          line-height: normal;
          margin-bottom: 0.75em;
        }

        .sub_title {
          font-size: 1.6em;
          letter-spacing: 0.32px;
          line-height: normal;
          margin-bottom: 1em;
        }

        .desc {
          font-size: 1.2em;
          font-weight: 500;
          letter-spacing: 0.24px;
          line-height: 1.834;
        }

        .cta_container {
          margin-bottom: 1.2em;
        }

        .cta_wrapper {
          .edit_icon {
            max-width: 1.061em;
            min-width: 1.061em;
          }
        }

        .about_container {
          .text_container {
            margin-bottom: 2.4em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .mobile-fix-view{
    margin-top: -1.6em !important;
  }
}

@media (max-width: 600px) {
  .profile_overview_container {
    .overview_container {
      .data_container {
        .product_container {
          .list_wrapper {
            margin-left: -0.6em;
            margin-bottom: 0.8em;
          }
        }

        .focus_container {
          margin-top: 0.5em;
          padding-top: 1.5em;
          padding-bottom: 2em;

          .focus_box {
            margin-right: 3.6em;
          }

          .focus_img {
            max-width: 1.2em;
          }

          .focus_title {
            font-size: 1.2em;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: normal;
            margin-left: 0.5em;
          }
        }
      }
    }
  }
}