<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>BEAUTY&YOU Sign Up OTP</title>


</head>

<body style="
color: #fff ;
line-height: 1.4;
Margin: 0;
padding: 0;
font-family: 'Roboto';
background-color: #fff;
background-color: #fff;
">

    <table role="presentation" style="width: 600px; border: none; border-spacing: 0" align="center" valign="top" cellspacing="0" cellpadding="0">
        <table role="presentation" cellspacing="0" cellpadding="0">
            <tbody>

                <tr>
                    <td colspan="5" align="center" style="Margin-top: 10px; Margin-bottom: 10px; ">
                        <img style="width: 100%; max-width: 231px;" width="231" src="<%= base_url %>/B&Y-orange.jpg" alt="">
                    </td>
                </tr>

                <tr>
                    <td style="color: #FF260B; width: 600px; background-color: #FBF7F3;" colspan="5">
                        <img style="display: inline-block; width: 100%;" src="<%= base_url %>hero-img.jpg" alt="hero" />
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #FF260B; Margin-bottom: 20px; Margin-right: 42px; width: 520px;">
                            Hi <%= name %>,
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #FF260B; Margin-bottom: 20px; Margin-right: 42px; width: 520px;">
                            We’re so excited to announce the second edition of BEAUTY&YOU!
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #FF260B; Margin-bottom: 20px; Margin-right: 42px; width: 520px;">
                            Created by Estée Lauder Companies’ New Incubation Ventures and launched in partnership with
                            NYKAA, BEAUTY&YOU aims to fuel the next generation of Indian beauty entrepreneurs with the
                            capital, mentorship, resources and key partners that they need to build their dream brand.
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #FF260B; Margin-bottom: 62px; Margin-right: 42px; width: 520px; ">
                            This year, we’re focusing on the theme of Experiential Beauty in India and we encourage
                            founders and creators with a fresh take on this exciting concept to apply for
                            once-in-a-lifetime opportunity to bring your vision to life!
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 10px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #FF260B">
                            WHO IS IT FOR?
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #FF260B; Margin-bottom: 80px; Margin-right: 42px; width: 520px; ">
                            Founders, creatives and innovators with a unique perspective on this year’s theme of
                            Experiential Beauty are welcome to apply as well as any applicants from 2022.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td style="color: #F5F5F5; width: 600px; background-color: #FF5A20;" colspan="5">
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-top: 40px; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 5px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #F5F5F5">
                            MAIN PRIZES
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #F5F5F5; Margin-bottom: 40px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            Prize Pool up to 4 Crore /  400K
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 5px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #F5F5F5; Margin-top: 5px; ">
                            IMAGINE
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #F5F5F5; Margin-bottom: 40px; Margin-right: 42px; width: 520px;  Margin-top: 0;">
                            Pre-launch Beauty Concepts in the categories of Skincare, Make Up, Hair Care, Personal
                            Fragrance and Home Fragrance
                        </p>

                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 5px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #F5F5F5; Margin-top: 5px; ">
                            GROW
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #F5F5F5; Margin-bottom: 40px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            In-market Beauty Concepts in the categories of Skincare, Make Up, Hair Care, Personal
                            Fragrance and Home Fragrance
                        </p>

                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 5px; Margin-top: 5px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #F5F5F5">
                            BREAKTHROUGH
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #F5F5F5; Margin-bottom: 40px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            Companies innovating in the active ingredients space with new products addressing key issue areas for the Indian consumer.
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 5px; Margin-top: 5px;  line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #F5F5F5">
                            CREATE
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #F5F5F5; Margin-bottom: 80px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            The next generation of creative talent (e.g., photographers, filmmakers, illustrators etc.)
                            submitting work around the theme of ‘Experiential Beauty in India.’
                        </p>
                    </td>
                </tr>

                <tr>
                    <td style="color: #F5F5F5; width: 600px; background-color: #FF96DC;" colspan="5">
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-top: 40px; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 40px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #F5F5F5">
                            JURY PRIZES
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 10px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #F5F5F5; Margin-top: 0;">
                            COMMUNITY
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #F5F5F5; Margin-bottom: 40px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            The most engaged brands and founders via a campaign designed for launch experience during
                            the final event period. The broader beauty community will be invited to vote
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 10px; Margin-top: 5px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #F5F5F5">
                            IMPACT
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #F5F5F5; Margin-bottom: 80px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            The most innovative brands demonstrating unique solutions and programs to promote
                            Environmental, Social & Community Responsibilities
                        </p>
                    </td>
                </tr>

                <tr>
                    <td style="color: #FF260B; width: 600px; background-color: #FBF7F3;" colspan="5">

                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-top: 40px; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 10px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #FF260B">
                            WHAT DO I NEED <br>TO APPLY?
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #FF260B; Margin-bottom: 50px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            For a full list of all the materials that you would need to apply, please  <a style="font-size: 26px; color: #FF260B; text-decoration: none; font-weight: 400; font-family: 'Roboto'; letter-spacing: 0.33px;" href="https://beautyandyouawards.com/application-criteria">click here</a>.
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 10px; Margin-top: 5px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #FF260B">
                            WHAT IS THE LAST DATE FOR APPLICATION?
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #FF260B; Margin-bottom: 60px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            The BEAUTY&YOU application portal will go live June 7th, 2024 and will accept applications
                            until August 19th, 2024, 11:59PM.
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 10px;  Margin-top: 5px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #FF260B">
                            WHO ARE THE JUDGES?
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #FF260B; Margin-bottom: 60px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            For a full list of our judges for this year, please <a href="https://beautyandyouawards.com/judges" style="font-size: 26px; color: #FF260B; text-decoration: none; font-weight: 400; font-family: 'Roboto'; letter-spacing: 0.33px;">click here</a>.
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; Margin-right: 38px; Margin-bottom: 10px;  Margin-top: 5px; line-height: 54px; letter-spacing: 0.6px; width: 495px; font-size: 40px; font-weight: 400; color: #FF260B">
                            QUESTIONS?
                        </p>
                        <p
                            style="display:inline-block; font-family: 'Roboto'; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #FF260B; Margin-bottom: 80px; Margin-right: 42px; width: 520px; Margin-top: 0;">
                            Send us an email at
                            <a href="mailto:hello@beautyandyouawards.com"
                                style="display:inline-block; color: #FF260B; font-size: 26px; text-decoration: none;">hello@beautyandyouawards.com.</a>
                        </p>
                    </td>
                </tr>

                <tr>
                    <td style="padding-bottom: 39.2px; font-family: 'Roboto Mono', monospace; " colspan="5">
                        <p
                            style="Margin-left: 27.2px; Margin-right: 75.2px; Margin-top: 48.6px; Margin-bottom: 10.65px; font-size: 20px; font-weight: 400; color: #1E3C4E; line-height: 35.2px; width: 497.6px; height: 28.84px;">
                            BEAUTY&YOU IS CREATED BY
                        </p>

                        <p style="Margin-right: 148.8px; font-family: 'Roboto Mono'">
                            &nbsp;&nbsp;
                            <img style="padding-left: 27.2px; Margin-right: 148.8px; font-family: 'Roboto Mono'"
                                src="<%= base_url %>niv-logo-blue.jpg" alt="" width="400" height="38">

                        </p>
                        <p
                            style="Margin-left: 27.2px; Margin-bottom: 9.2px; Margin-top: 26.65px; font-size: 20px; font-weight: 400; color: #1E3C4E; line-height: 35.2px; font-family: 'Roboto Mono'; height: 36px;">
                            EXECUTIVE PRODUCER
                        </p>

                        <p style="Margin-right: 148.8px; font-family: 'Roboto Mono'; padding-bottom: 39.2px;">
                            &nbsp;&nbsp;
                            <img src="<%= base_url %>idex.jpg" style="padding-left: 19.2px; " width="120" height="40"
                                alt="">
                        </p>
                        <!-- <p style="Margin-left: 27px; font-size: 14px; font-weight: 400; width: 542px; height: 110px; color: #1E3C4E; font-family: 'Roboto Mono'; Margin-right: 31px;">
                                    Thank you for subscribing to our newsletter. Estée Lauder International, Inc. team will work hard to deliver good quality information in the fields you have specified upon subscription. However, if you decide that you no longer want to receive such emails from us, feel free to click the link below.
                                </p>
                                <p  style="Margin-left: 27px; font-size: 14px; font-weight: 400; Margin-top: 20px; Margin-right: 480px; width: 93px; height: 18px;">
                                    <a href="" style="color: #1E3C4E; text-decoration: underline;font-family: 'Roboto Mono';">Unsubscibe</a>
                                </p>
                                <p style="Margin-left: 27px; Margin-right: 413px; font-size: 14px; font-weight: 400; Margin-top: 30px; Margin-bottom: 40.4px; width: 160px; height: 18px;">
                                    <a href="" style="color: #1E3C4E; text-decoration: underline;font-family: 'Roboto Mono';">View in the
                                        browser</a>
                                </p> -->

                    </td>
                </tr>

                <tr>
                    <td style="font-family: 'Roboto', sans-serif; " colspan="5">
                        <hr style="background: #ddd;">
                        <p
                            style="font-size: 20px; font-weight: 400; line-height: 30px; width: 382.4px; height: 41.15px; Margin-left: 24px; Margin-bottom: 0;">
                            <a href="https://beautyandyouawards.com/about-us" target="main"
                                style="color: #1E3C4E; text-decoration: none; ">ABOUT US</a>
                        </p>
                        <hr style="background: #ddd;">
                        <p
                            style="font-size: 20px; font-weight: 400; line-height: 30px; width: 406.4px; height: 41.15px; Margin-left: 24px; Margin-bottom: 0;">
                            <a href="https://beautyandyouawards.com/faq" target="main"
                                style="color: #1E3C4E; text-decoration: none; ">FAQ</a>
                        </p>
                        <hr style="background: #ddd;">
                        <p
                            style="font-size: 20px; font-weight: 400; line-height: 30px; width: 449.6px; height: 41.15px; Margin-left: 24px; Margin-bottom: 0;">
                            <a href="https://beautyandyouawards.com/terms-and-conditions" target="main"
                                style="color: #1E3C4E; text-decoration: none; ">TERMS & CONDITION</a>
                        </p>
                        <hr style="background: #ddd;">
                        <p
                            style="font-size: 20px; font-weight: 400; line-height: 30px; width: 449.6px; height: 41.15px; Margin-left: 24px; Margin-bottom: 0;">
                            <a href="https://beautyandyouawards.com/privacy-and-policy" target="main"
                                style="color: #1E3C4E; text-decoration: none; ">PRIVACY POLICY</a>
                        </p>
                        <hr style="background: #ddd;">

                <tr>
                    <td style="padding-bottom: 1em; padding-top: 1em;">
                        <p style="width: 236.6px; height: 35.25px; Margin-left: 24px;">
                            <a href="https://beautyandyouawards.com/contact-us"
                                style="color: #1E3C4E;  font-family: 'Roboto', sans-serif; text-decoration: none; font-size: 20px; line-height: 30px; "
                                target="main">
                                CONTACT
                            </a>
                        </p>
                    </td>
                    <td style="width: 142.4px; height: 35.25px; padding-bottom: 1em; padding-top: 1em;">
                        <p
                            style="font-size: 20px; font-family: 'Roboto', sans-serif; font-weight: 400; line-height: 30px; color: #1E3C4E;">
                            FOLLOW US</p>
                    </td>
                    <td style="padding-bottom: 1em; padding-top: 1em;">
                        <a href="https://www.instagram.com/beautyandyouawards/?igshid=YmMyMTA2M2Y%3D" target="main">
                            <img src="<%= base_url %>instagram.jpg"
                                style="Margin-left: 30.4px; height: 31.25px; width: 31.55px;" width="31" height="31"
                                alt="">
                        </a>
                    </td>
                    <td style="padding-bottom: 1em; padding-top: 1em;">
                        <a href="https://www.linkedin.com/showcase/beauty-you-awards" target="main">
                            <img src="<%= base_url %>linkdin.jpg"
                                style="Margin-left: 25.6px; width: 31.25px; height: 31.45px;" width="31" height="31"
                                alt="">
                        </a>
                    </td>
                    <td style="padding-bottom: 1em; padding-top: 1em;">
                        <a href="https://www.youtube.com/channel/UCo2cJCpgCOVf4RxmqTmuXDw?app=desktop" target="main">
                            <img src="<%= base_url %>youtube.jpg"
                                style="Margin-left: 25.6px; Margin-right: 25.5px; width: 38.4px; height: 27.05px;"
                                width="38" height="27" alt="">
                        </a>
                    </td>
                </tr>
                </td>
                </tr>

                <tr>
                    <td colspan="5"
                        style="background-color: #1E3C4E; height: 52px; width: 600px; font-size: 22px; text-align: center; color: #fff; font-family: 'Roboto'; line-height: 30px; Margin: 0; padding-top: 11.88px; padding-bottom: 16.12px;">
                        © 2024 Estée Lauder International, Inc.
                    </td>
                </tr>
            </tbody>

        </table>



    </table>
</body>

</html>