.toggle_wrapper_switch {
    position: relative;
    display: flex;
}

.toggle_input_switch {
    height: 3.75em;
    width: 7.563em;
    appearance: none;
    background-color: white;
    border: 1px solid #1111114C;
    border-radius: 9999px;
    cursor: pointer;
    position: relative;

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px #111827;
    }
}

.toggle_indicator_switch {
    pointer-events: none;
    position: absolute;
    top: 0.438em;
    left: 0.75em;
    height: 2.875em;
    width: 2.875em;
    background-color: #FF002A;
    border-radius: 9999px;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;

    .toggle_input_switch:checked+& {
        background-color: #00BC4B;
        left: 3.96em;
    }
}

@media screen and (max-width: 767px) {
   
    .toggle_input_switch {
        width: 4.8em;
        height: 2.8em;
    }
    
    .toggle_indicator_switch {
       width: 2em;
       height: 2em;
       top: 0.4em;
       left: 0.4em;
    
        .toggle_input_switch:checked+& {
            left: 2.4em;
        }
    }
}