@import "../../common.scss";

.congrat_main {
  padding: 10em 0 0;
  overflow: hidden;

  .blogslisting_background {
    position: absolute;
    // position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    // min-height: auto;
    z-index: -1;
    object-fit: cover;
    // object-position: top;
  }

  .confetti_wrapper {
    z-index: -1;
  }
}

.congrat_sec1 {
  text-align: center;

  .content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 10em);

    .cup {
      width: 100%;
      max-width: 16em;
      margin-left: -0.7em;

      //   background: rgba(255, 255, 255, 0.057);
      box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(6px);
      //   backdrop-filter: brigthness;
    }

    .title {
      color: #ffffff;
      font-size: 3.75em;
      font-weight: 600;
      letter-spacing: 0px;
      line-height: 1.5;
      //   margin: 0.7em 0 0.5334em;
      margin: 0 0 0.5334em;
    }

    .desc {
      position: relative;
      color: $color-FFFFFF;
      font-size: 2.5em;
      font-weight: 600;
      letter-spacing: 0.8px;
      line-height: 1.25em;

      .ai_span {
        position: relative;
        display: inline-block;

        .sup {
          position: absolute;
          top: 20%;
          font-size: 0.3em;
          letter-spacing: -0.5px;
        }
      }
    }

    .col_white {
      color: #ffffff;
    }

    .cta_wrapper {
      padding: 3.75em 0 2.5em;
    }

    .text {
      color: #ffffff;
      font-size: 1.125em;
      font-weight: 400;
      letter-spacing: 0.36px;
      line-height: 1.112;

      .link {
        color: #ef7b13;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 767px) {
  .congrat_main {
    padding: 5em 0 0;
  }

  .congrat_sec1 {
    .content_wrapper {
      height: calc(100vh - 5em);

      .cup {
        max-width: 10.6em;
        margin-left: -0.6em;
      }

      .title {
        font-size: 3.2em;
        letter-spacing: 0.64px;
        line-height: 1.1875;
        margin: 0.5em 0 0.6875em;
      }

      .desc {
        font-size: 2em;
        letter-spacing: 0.4px;
        line-height: 1.5;
      }

      .cta_wrapper {
        padding: 5.9em 0 2.5em;
      }

      .text {
        font-size: 1em;
        letter-spacing: 0.2px;
        line-height: 2;
      }
    }
  }
}