@import "../../common.scss";

.custom_container {
  max-width: 100%;
  padding: 0;
}

.lt_anim_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  z-index: -1;
  background: $color-F1F1F1;
  opacity: 1;
  .background_img {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
  }
  .archinza_label {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 54.875em;
    max-height: 61.125em;
    object-fit: contain;
    right: -7.5em;
  }

  .pulsating-circle {
    position: absolute;
    width: 0.75em;
    height: 0.75em;
    opacity: 1;

    &:before {
      content: "";
      position: relative;
      display: block;
      width: 300%;
      height: 300%;
      box-sizing: border-box;
      margin-left: -100%;
      margin-top: -100%;
      border-radius: 45px;
      background-color: #02379c;
      animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #02379c;
      border-radius: 15px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      animation: pulse-dot 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    }

    &.pulsating-circle1 {
      --y-position: 30%;
      --x-position: 15%;
      right: var(--x-position);
      top: var(--y-position);
      transform: translateX(-var(--x-position)) translateY(-var(--y-position));
    }
    &.pulsating-circle2 {
      --y-position: 45%;
      --x-position: 5%;
      left: var(--x-position);
      top: var(--y-position);
      transform: translateX(-var(--x-position)) translateY(-var(--y-position));
    }
    &.pulsating-circle3 {
      --y-position: 10%;
      --x-position: 25%;
      right: var(--x-position);
      bottom: var(--y-position);
      transform: translateX(-var(--x-position)) translateY(-var(--y-position));
    }
  }

  @keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%,
    100% {
      opacity: 0;
    }
  }

  @keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
}
