.offline_msg_wrapper {
    background-color: #FFFFFF;
    border: 1px solid #1111114C;
    border-radius: 0.75em;
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    -ms-border-radius: 0.75em;
    -o-border-radius: 0.75em;
    padding: 1em 2em;
    margin-bottom: 2.5em;

    .offline_msg_f_row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.8em;
    }

    .offline_msg_icon_wrapper {
        width: 3.034em;
        margin-right: 1em;

        img {
            width: 100%;
        }
    }

    .offline_msg_heading_wrapper {
        font-size: 2.25em;
        line-height: 0.02em;
        line-height: 1.889em;
        font-weight: 600;
    }

    .off_red_txt {
        color: #FF002A;
    }

    .offline_msg_s_row {
        font-size: 1.25em;
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: 0.02em;
        line-height: 1.7em;
    }
}

@media screen and (max-width: 767px) {
    .offline_msg_wrapper {
        padding: 1.2em;
        .offline_msg_icon_wrapper {
            img {
                width: 2.44em;
            }
        }

        .offline_msg_heading_wrapper {
            font-size: 1.6em;
        }

        .offline_msg_s_row {
            font-size: 1.2em;
            letter-spacing: 0.02em;
            font-weight: 500;
        }
    }
}