@import "../../common.scss";


.business_benefits_popup {
  background: rgba(255, 255, 255, 0.75);

  .modal-dialog {
    width: 100%;
    max-width: 57.8125em;
    // height: calc(100vh - (1.25em * 2));
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    border-radius: 20px;
    border: 2px solid #014fe0;
    background: transparent;
    background: rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    overflow: hidden;
  }

  .modal-header {
    border: none;
    border-radius: 0;
    // background-color: #000000;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    z-index: 99;

    .btn-close {
      --bs-btn-close-bg: none;
      background: url("../../images/dashboard/white_cross_icon.svg") no-repeat;
      background-size: contain;
      margin: 0;
      padding: 0;
      width: 2em;
      height: 2em;
      opacity: 1;
      margin-right: 2px;

      &:focus-visible {
        outline: none;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .modal-body {
    padding: 0;

    .confetti_wrapper {
      position: relative;
      z-index: 5;
      //   filter: blur(2px);
    }

    .content_wrapper {
      // border-radius: 20px;
      text-align: center;
      padding: 4.4375em 3.75em;
      //   background: rgba(255, 255, 255, 0.1);
      //   -webkit-backdrop-filter: blur(100px);
      //   backdrop-filter: blur(100px);
    }

    .cup_img {
      width: 100%;
      height: 100%;
      max-width: 10.6875em;
    }

    .role {
      max-width: 75%;
      color: $color-000000;
      font-size: 2.75em;
      font-weight: 600;
      letter-spacing: 0px;
      line-height: 1.36364;
      margin: 0.4773em auto 1.364em;
    }

    .feature {
      width: 100%;
      max-width: 70%;
      margin: 0 auto;
      padding-left: 2em;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      li {
        color: $color-000000;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: 0.48px;
        line-height: 2.25;
        // margin-bottom: 1.667em;
        opacity: 0.8;
        text-align: left;
        list-style: disc;
      }
    }

    .cta_wrapper {
      display: flex;
      justify-content: center;
      margin: 3.75em auto 0;
    }
  }
}

@media (max-width: 600px) {
  .business_benefits_popup {
    .modal-dialog {
      width: 100%;
      max-width: 90%;
    }

    .modal-content {
      border-radius: 12px;
    }

    .modal-body {
      .content_wrapper {
        padding: 1.5em;
      }

      .cup_img {
        max-width: 10em;
      }

      .role {
        max-width: 100%;
        font-size: 2.8em;
        margin: 0.5em auto 1.071em;
      }

      .access {
        font-size: 1.4em;
        margin-bottom: 1.5em;
      }

      .feature {
        max-width: 100%;
        padding-left: 2em;

        li {
          font-size: 1.4em;
        }
      }
    }
  }
}