@import '../../common.scss';

.de_sec1 {
  padding: 14.625em 8.75em 4.688em;

  .de-cards {
    display: flex;
    gap: 4em;

    .profile_card {
      width: 60%;
    }
  }

  .de-cards {
    padding: 5em 0 0;
    .dashboard_row {
      // display: flex;
      justify-content: space-between;
      // align-items: center;
      margin: 0 auto;
    }
    .dashboard_col {
      padding: 0;
      .swiper,
      .swiper-slide {
        height: 100%;
        padding: 0 0 1px;
      }
      .swiper-pagination {
        text-align: right;
      }
      .swiper-pagination-fraction,
      .swiper-pagination-custom,
      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: auto;
        right: 0;
        bottom: 0;
      }

      .swiper-pagination-bullet {
        background: transparent;
        border: 1px solid $color-FFFFFF;
        opacity: 1;
        width: 0.65em;
        height: 0.65em;
      }

      .swiper-pagination-bullet-active {
        background: $color-FFFFFF;
        border: 1px solid $color-FFFFFF;
        opacity: 1;
      }
    }
    .notice_col {
      background-color: rgba($color: $color-FFFFFF, $alpha: 0.1);
      border: 1px solid #014fe0;
      border-radius: 2em;
      opacity: 1;
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      padding: 1.438em 1.875em 4.25em;
      .heading {
        color: $color-F6F6F6;
        font-size: 2.0625em;
        font-weight: 400;
        letter-spacing: 0.66px;
        line-height: 1.42em;
      }
    }
  }

  .cta_wrapper {
    display: flex;
    justify-content: center;
  }

  .banner_title {
    @include textStyles(2.5em, 1.25em, 1.76px);
    color: $color-FFFFFF;
    font-weight: 600;
    max-width: 50%;
    height: 100%;
    text-align: center;
    margin: 3em auto 1.75em;
    .orange_text {
      color: $color-EF7B13;
    }
  }
}

.de_sec3 {
  position: relative;
  padding: 4em 0 4.688em;
  z-index: 1;
  transition: all 0.3s;

  .multi-avatar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .avatar-group {
    display: flex;
    margin-right: 15px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      transform: scale(1.1);
      z-index: 1;
    }
  }

  .signup-text {
    @include textStyles(1.5em, 1.25em, 1.76px);
    color: $color-FFFFFF;
    margin: 0;
  }

  .signup-count {
    font-weight: bold;
    color: #ff6600;
  }

  .banner-tagline {
    position: relative;
    @include textStyles(2em, 1.25em, 1.76px);
    color: $color-FFFFFF;
    text-align: center;
    margin-block: 2em;

    .orange_text {
      color: $color-EF7B13;
    }
  }

  @media (max-width: 480px) {
    .multi-avatar {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }

    .avatar-group {
      margin-bottom: 10px;
    }

    .signup-text {
      font-size: 14px;
    }
  }

  .home_background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100vh;
    min-height: auto;
    object-fit: fill;
    object-position: top;
  }

  .banner_slider {
    margin: 3.5em 0 0 -2em;

    .swiper-slide {
      visibility: hidden;
    }
    .swiper-slide-active {
      visibility: visible;
    }
    .banner_wrap {
      // padding: 0 0 2em 2em;
      max-width: 80%;
      margin-left: 15%;
      text-align: center;
      .banner_title {
        @include textStyles(5.5em, 1.25em, 1.76px);
        color: $color-FFFFFF;
        font-weight: 600;
        max-width: 80%;
        height: 100%;
        // min-height: 2.5em;
        min-height: 3.75em;
        .orange_text {
          color: $color-EF7B13;
        }
      }
      .banner_desc {
        @include textStyles(2em, 1.797em, 1.6px);
        color: $color-FFFFFF;
        font-weight: 500;
        // margin: 1.875em 0;
        margin: 0;
      }
    }
    // .banner_wrap1 {
    //   min-height: 45em;
    // }
    .swiper-pagination {
      text-align: center;
      padding: 0 0 0 2em;
      margin-top: 2em;
    }
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      position: relative;
    }

    .swiper-pagination-bullet {
      background: transparent;
      border: 1px solid $color-FFFFFF;
      opacity: 1;
      width: 0.65em;
      height: 0.65em;
    }

    .swiper-pagination-bullet-active {
      background: $color-FFFFFF;
      border: 1px solid $color-FFFFFF;
      opacity: 1;
    }
  }
  .launch_container {
    position: relative;
    max-width: 52.188em;
    // margin: 5em 0 0;
    margin: 5em auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      @include textStyles(2em, 1.797em, 1.6px);
      color: $color-FFFFFF;
    }
    .clock_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      text-align: center;
      margin: 1.75em 0 0;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 30px 50px 50px #00000029;
      backdrop-filter: blur(9px);
      -webkit-backdrop-filter: blur(9px);
      border: 1px solid rgba($color: $color-707070, $alpha: 0.5);
      border-radius: 15px;
      padding: 1.8125em 5.4375em;
      .clock_content {
        position: relative;
        width: calc(100% / 7);
      }
      .clock_number {
        @include textStyles(3.9375em, 1.20634em, 3.09px);
        color: $color-F77B00;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .clock_text {
        color: $color-FFFFFF;
        font-size: 1.25em;
        line-height: 1.92em;
        margin-top: 3.825em;
        letter-spacing: 0;
      }
      .clock_dots {
        align-self: flex-start;
        color: $color-F77B00;
        font-weight: 500;
        font-size: 3.125em;
        letter-spacing: 2.45px;
        line-height: 1.52em;
      }
    }
  }
  .cta_wrapper {
    position: relative;
    margin: 2.5em 0 0;
    display: flex;
    justify-content: center;
  }
}

.de_sec2 {
  padding: 4.688em 0;
  .title {
    @include textStyles(3em, 1.25em, 1.76px);
    font-weight: 600;
    color: $color-FFFFFF;
    text-align: center;
    br {
      display: none;
    }
  }
  .subtitle {
    @include textStyles(2em, 1.25em, 1.76px);
    color: $color-707070;
    margin-top: 1em;
    text-align: center;
    br {
      display: none;
    }
  }
  .perks_container {
    padding: 5em 1.5em 3.75em;
    .swiper-wrapper {
      justify-content: center;
      gap: 5em;

      .swiper-slide {
        width: 30em !important;
      }
    }
    .perk_card {
      height: 100%;
      min-height: 25em;
      max-height: 25em;
      max-width: 30em;
      margin: 0 auto;
      background-color: rgba($color: $color-FFFFFF, $alpha: 0.1);
      border: 1px solid $color-EF7B13;
      border-radius: 1.25em;
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      padding: 3em 2.5em;
      color: $color-FFFFFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .perk_icon {
        width: 100%;
        max-width: 6.875em;
        max-height: 6.875em;
        object-fit: contain;
      }
      .heading {
        @include textStyles(2em, 1.797em, 1.92px);
        font-weight: 500;
        margin: 1.071em 0 0.6em;
      }
      .desc {
        @include textStyles(1.364em, 1.417em, 1.2px);
      }
    }
    .swiper-slide-active {
      z-index: 1;
    }
  }
  .cta_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4em;
  }
}

.de_sec5 {
  padding: 4.688em 0 5.625em;
  color: $color-FFFFFF;
  .text_container {
    color: $color-FFFFFF;
    max-width: 90%;
    .title {
      @include textStyles(4.636em, 1.136em, 1.76px);
    }
    .desc {
      @include textStyles(2em, 1.203em, 0.64px);
      margin: 1em 0 0;
    }
  }
  .cta_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.de_sec4 {
  background: $color-014FE0;
  color: $color-FFFFFF;
  overflow: hidden;
  .video_row {
    align-items: center;
  }
  .archinza_chat_video {
    padding: 9.688em 0 0;
  }
  .text_container {
    color: $color-FFFFFF;
    max-width: 90%;
    padding: 0 0 1em;
    .title {
      @include textStyles(4.636em, 1.136em, 1.76px);
    }
    .desc {
      @include textStyles(2em, 1.2em, 0.64px);
      margin: 1em 0 2.5em;
      br {
        display: none;
      }
    }

    .ai-step {
      display: flex;
      align-items: center;
      gap: 1em;
      margin-block: 3.75em;

      .ai-img {
        width: 5.625em;
        height: 5.625em;
        border-radius: 50%;
        overflow: hidden;
        background-color: #00000029;
      }

      .ai-title {
        @include textStyles(2em, 1.136em, 1.76px);
        font-weight: 600;
      }
      .ai-subtitle {
        @include textStyles(1.5em, 1.136em, 1.76px);
        margin-top: 0.5em;
      }
    }
    .cta_wrapper {
      .common_cta {
        @include orangeCtaShadow;
        background: $color-FFFFFF;
        color: $color-014FE0;
      }
    }
  }
}

@media (max-width: 1440px) {
  .de_sec3 {
    .banner_slider {
      .banner_wrap {
        .banner_title {
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .de_sec3 {
    .banner_slider {
      .banner_wrap {
        .banner_desc {
          font-size: 2.4em;
          margin: 1.875em 0;
        }
        .cta_wrapper {
          .common_cta {
            font-size: 1.4em;
          }
        }
      }
    }
    .launch_container {
      .title {
        font-size: 2.4em;
      }
      .clock_wrapper {
        .clock_text {
          font-size: 1.4em;
        }
      }
    }
    .cta_wrapper {
      .common_cta {
        font-size: 1.4em;
      }
    }
  }

  .de_sec2 {
    .perks_container {
      .perk_card {
        .desc {
          font-size: 1.6em;
        }
      }
    }
  }

  .de_sec5 {
    .text_container {
      margin: 0 0 4em;
    }
  }
}

@media (max-width: 768px) {
  .de_sec3 {
    padding: 10em 0 4em;
    .banner_slider {
      margin: 3.5em 0 0;
      .banner_wrap {
        max-width: 100%;
        text-align: center;
        padding: 0 0 0 0;
        .banner_title {
          @include textStyles(2.6em, normal, 0.52px);
          min-height: 5em;
          br {
            display: none;
          }
        }

        .banner_wrap1 {
          min-height: auto;
        }
        .banner_desc {
          @include textStyles(1.4em, normal, 0.28px);
          margin: 2em 0 3.2em;
        }
      }
      .swiper-pagination {
        text-align: center;
        padding: 2em 0 0;
      }
    }
    .launch_container {
      margin: 7em 0 0;
      text-align: center;
      max-width: 100%;
      .title {
        @include textStyles(1.6em, normal, 0.32px);
      }
      .clock_wrapper {
        margin: 2.1em 0 0;
        padding: 1.6em 3.2em;
        .clock_number {
          font-size: 3.1em;
          letter-spacing: 1.52px;
        }
        .clock_text {
          font-size: 0.9em;
        }
      }
    }
    .cta_wrapper {
      text-align: center;
      .common_cta {
        margin: 0 auto;
      }
    }
  }

  .de_sec2 {
    padding: 4em 0;
    .title {
      @include textStyles(2.6em, 1.385em, 0.52px);
    }
    .perks_container {
      margin: 1px 0;
      padding: 4em 2.75em 6em;
      .perk_card {
        padding: 2.2em 2.2em 2em;
        min-height: 27em;
        max-height: 27em;
        .heading {
          @include textStyles(2em, 1em, 0.4px);
          margin: 0.6em 0;
        }
      }
    }
  }

  .de_sec4 {
    padding: 9.688em 0 0;
    .archinza_chat_video {
      padding: 0;
    }
    .text_container {
      max-width: 100%;
      margin: 0 0 4em;
      text-align: center;
      .cta_wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .de_sec2 {
    .title {
      br {
        display: block;
      }
    }
    .perks_container {
      .swiper-wrapper {
        align-items: center;
      }
      .swiper-slide {
        .perk_card {
          border: none;
          min-height: 24em;
          max-height: 24em;
        }
      }
      .swiper-slide-active {
        .perk_card {
          border: 1px solid $color-014FE0;
          min-height: 27em;
          max-height: 27em;
        }
      }
    }
  }

  .de_sec5 {
    .text_container {
      text-align: center;
      max-width: 100%;
      .title {
        @include textStyles(2.6em, 1.5em, 0.52px);
        br {
          display: none;
        }
      }
      .desc {
        @include textStyles(1.6em, 1.5em, 0.32px);
      }
    }
  }

  .de_sec4 {
    padding: 4.7em 0 3.2em;
    .text_container {
      text-align: center;
      max-width: 100%;
      .title {
        @include textStyles(2.6em, 1.5em, 0.52px);
      }
      .desc {
        @include textStyles(1.6em, 1.5em, 0.32px);
        margin: 2.2em 0 3.2em;
        br {
          display: block;
        }
      }
    }
  }
}
