@import "../../common.scss";

.radio_wrapper {
  position: relative;
  display: inline-block;
  margin: 0 0.9375em;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  .protag_img {
    width: 100%;
    height: 100%;
    max-width: 2.563em;
    max-height: 1.313em;
    position: absolute;
    top: -0.5em;
    left: 1.875em;
    z-index: 1;
  }

  .radio_input {
    display: none;
    margin: 0;
  }

  .radio_label {
    @include textStyles(1.5em, 0.9em, 0);
    cursor: pointer;
    padding: 1.165em 1.333em;
    border-radius: 10em;
    margin: 0 0 1.167em;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    // border: 1.5px solid $color-111111;
    border: 1px solid #8D8D8D;
    transition: all 0.1s ease-in-out;
  }

  .extraSpace {
    padding: 1em 1.417em;
  }

  .radio_input:checked+.radio_label {
    background: $color-F77B00;
    border: 1.5px solid $color-F77B00;
  }
}

.radio_wrapper_light {
  .radio_label {
    background-color: rgba($color-FFFFFF, 1);
    color: $color-111111;
    font-weight: 500;
  }

  .radio_input:checked+.radio_label {
    color: $color-FFFFFF;
  }
}

.radio_wrapper_dark {
  .radio_label {
    background-color: rgba($color-FFFFFF, 0.05);
    color: $color-FFFFFF;
  }

  .radio_input:checked+.radio_label {
    color: $color-FFFFFF;
  }
}

.business_edit_radio {
  margin: 0 0.9375em 0 0;

  .radio_label {
    @include textStyles(1.125em, 0.9em, 0);
  }
}

@media (max-width: 992px) {
  .business_edit_radio {
    .radio_label {
      @include textStyles(1.6em, 0.9em, 0);
    }
  }
}

@media (max-width: 600px) {
  .radio_wrapper {
    margin: 0 0.6em;

    .radio_label {
      font-size: 1.3em;
      padding: 1.077em 1.846em;
      line-height: 1.4em;
      letter-spacing: 0;
    }

    .extraSpace {
      padding: 1.077em 1.846em;
    }
  }

  .business_edit_radio {
    margin: 0 0.6em;

    .radio_label {
      font-size: 1.3em;
      padding: 1.077em 1.846em;
      line-height: 1.4em;
      letter-spacing: 0;
    }
  }
}

