// .edit_location_popup_edp {
//     .modal-body {
//         width: 60.875em;
//     }
// }

.loaction_wrapper {
    margin-bottom: 2em;
}

.text_field_edit_location {
    padding: 0;
    padding-right: 1.25em;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    padding-bottom: 2em;
}

.adress_location_wrapper {
    display: flex;
    align-items: center;
    padding: 0;


    .MuiFormControl-root {
        border-bottom: 1px solid rgba(112, 112, 112, 0.3);
        padding-bottom: 2em;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .delete_location_edit {
        height: 1.438em;
        width: 1.278em;
        margin-left: 1.5em;
        cursor: pointer;
        border-bottom: 1px solid #fff;
        margin-bottom: 2em;
    }
}

.add_new_location_container {

    // .loaction_wrapper{
    //     border-bottom: 0;
    // }
    >div {
        &:last-child {
            .MuiFormControl-root {
                border-bottom: 0px solid rgba(112, 112, 112, 0.3);
            }

            .text_field_edit_location {
                border-bottom: 0px solid rgba(112, 112, 112, 0.3);
            }

        }
    }

    >div {
        &:last-child {
            border-bottom: 0px !important;
        }
    }
}

.heading_add_location_edit {
    margin-top: 0.889em;
    margin-bottom: 1.083em;
}

.addNewLocation_icon {
    visibility: none;
    opacity: 0;
    user-select: none;
    cursor: default !important;
    height: 0 !important;
}

.add_new_location_action_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        content: "";
        flex: 1;
        // border-bottom: 2px dashed #aaa;
        margin: 0 0px;
        height: 1px;
        transform: translateY(0.5px);
        background-image: repeating-linear-gradient(to right, #b2b2b2, #b2b2b2 8px, transparent 8px, transparent 14px);
        background-repeat: repeat-x;
        background-position: center;
    }

    &::before {
        margin-right: 2em;
    }

    &::after {
        margin-left: 2em;
    }

    .text_action_add_location {
        color: #000000;
        font-size: 1.25em;
        letter-spacing: 0.02em;
        text-decoration: underline;
        cursor: pointer;
    }

    .add_location_wrapper {
        width: 2.026em;
        cursor: pointer;
        margin-right: 1.125em;
    }
}

@media screen and (max-width: 768px) {
    .loaction_wrapper {
        border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    }

    .text_field_edit_location {
        border: 0px;
        padding-right: 2.7em;
        padding-bottom: 2.2em;
    }

    .delete_location_edit {
        width: 1.33em;
        height: 1.496em;
    }

    .add_new_location_action_wrapper {
        margin-bottom: 4em;

        &::before,
        &::after {
            content: "";
            flex: 1;
            // border-bottom: 2px dashed #aaa;
            margin: 0 0px;
            height: 1px;
            transform: translateY(0.5px);
            background-image: repeating-linear-gradient(to right, #b2b2b2, #b2b2b2 7px, transparent 7px, transparent 10px);
            background-repeat: repeat-x;
            background-position: center;
        }

        &::before {
            margin-right: 1em;
        }

        &::after {
            margin-left: 1em;
        }

        .text_action_add_location {
            font-size: 1em;
            font-weight: 400;
            letter-spacing: 0.2px;
        }

        .add_location_wrapper {
            width: 1.727em;
            margin-right: 0.4em;
        }
    }

    .adress_location_wrapper {
        .MuiFormControl-root {
            padding-bottom: 2.2em;
            border: 0;
        }
    }

    .add_new_location_container {
        .loaction_wrapper {
            // border-bottom: 0;
        }

        >div {
            &:last-child {
                .MuiFormControl-root {
                    border-bottom: 0px solid rgba(112, 112, 112, 0.3) !important;
                }

                .text_field_edit_location {
                    border-bottom: 0px solid rgba(112, 112, 112, 0.3) !important;
                }
                .error_border_bottom{
                    border-bottom: 0 !important;
                    // background-color: red;
                }
            }
        }
    }
}