.wrapper_slider_masonary--update,
.single_slider_msn_slider--wrapper {
    position: relative;

    .edit_cta--view {
        position: absolute;
        top: 1em;
        left: 1.3em;
        display: flex;
        align-items: center;
        z-index: 1;
        font-size: 1.2em;
        background-color: white;
        color: #111111;
        font-weight: 500;
        padding: 0.55em 1em;
        border-radius: 10em;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        -ms-border-radius: 10em;
        -o-border-radius: 10em;
        display: flex;
        align-items: center;

        .icon_back_edit {
            transform: rotate(-270deg);
            -webkit-transform: rotate(-270deg);
            -moz-transform: rotate(-270deg);
            -ms-transform: rotate(-270deg);
            -o-transform: rotate(-270deg);
            width: 1em;
            height: 1em;
            position: relative;
            left: -0.4em;
        }
    }
}

.loading_state_fr_msn--slider {
    margin: 0.8em;
    margin-top: 2.4em;
}

.mns_scr_sp_tp {
    margin-top: 2.5em;
    margin-bottom: 0.9em;
    // padding-left: 0.8em;
    padding-right: 0.8em;
    display: flex;
    overflow-x: scroll;


    .masonry_wrapper {
        display: flex;
        max-height: 32em;
        overflow-y: clip;

        .wraper_cmn_ms_slider_img_icon {
            position: relative;
            width: 50%;
        }

        .wraper_cmn_ms_slider_img_icon---first {
            margin-right: 0.8em;
        }

        .edit_icon_msn_slider {
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            width: 2.4em;
            height: 2.4em;
        }

        .col-first-layout {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 50vw;
            margin-left: 0.8em;

            .lg-first-ms-slider-img {
                width: 100%;
                object-fit: cover;
                margin-bottom: 0.8em;
                // margin-right: 0.8em;
                height: 15.6em;
                border-radius: .75em;
                -webkit-border-radius: .75em;
                -moz-border-radius: .75em;
                -ms-border-radius: .75em;
                -o-border-radius: .75em;
            }
        }

        .btm-col-first-layout {
            display: flex;
            height: 50%;
            column-gap: 0.8em;

            .sm-first-ms-slider-img {
                width: 100%;
                height: 15.6em;
                object-fit: cover;
                border-radius: .75em;
                margin-right: 0.8em;
                -webkit-border-radius: .75em;
                -moz-border-radius: .75em;
                -ms-border-radius: .75em;
                -o-border-radius: .75em;
            }
        }

        .col-second-layout {
            display: flex;
            flex-direction: column;
            width: 26.3157894737vw;
            margin-left: 0.8em;

            .wraper_cmn_ms_slider_img_icon {
                width: 100%;
            }

            .wraper_cmn_ms_slider_img_icon--second {
                height: 100%;
                overflow: hidden;
            }

            .sm-second-ms-slider-img {
                width: 100%;
                min-height: 10.9em;
                object-fit: cover;
                margin-bottom: 0.8em;
                border-radius: .75em;
                -webkit-border-radius: .75em;
                -moz-border-radius: .75em;
                -ms-border-radius: .75em;
                -o-border-radius: .75em;
            }

            .lg-second-ms-slider-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: .75em;
                -webkit-border-radius: .75em;
                -moz-border-radius: .75em;
                -ms-border-radius: .75em;
                -o-border-radius: .75em;
            }
        }

        .col-third-layout {
            display: flex;
            flex-direction: column;
            width: 26.3157894737vw;
            margin-left: 0.8em;

            .wraper_cmn_ms_slider_img_icon {
                height: 100%;
                width: 100%;
            }

            .wraper_cmn_ms_slider_img_icon--third {
                height: auto;
                margin-top: 0.8em;

                .sm-second-ms-slider-img {
                    margin-top: 0 !important;
                }
            }

            .sm-second-ms-slider-img {
                width: 100%;
                min-height: 10.9em;
                margin-top: 0.8em;
                object-fit: cover;
                border-radius: .75em;
                -webkit-border-radius: .75em;
                -moz-border-radius: .75em;
                -ms-border-radius: .75em;
                -o-border-radius: .75em;
            }

            .lg-second-ms-slider-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: .75em;
                -webkit-border-radius: .75em;
                -moz-border-radius: .75em;
                -ms-border-radius: .75em;
                -o-border-radius: .75em;
            }
        }
    }
}

.single_image_slide--sm-masn {
    display: flex;
    width: 100%;
    overflow: scroll;
    margin-top: 2.5em;
    margin-right: 0.8em;
    margin-bottom: 0.8em;

    .single_img_slide {
        width: 25.6em;
        height: 32em;
        margin-left: 0.8em;
        border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -o-border-radius: 0.5em;
    }

    img:last-child {
        margin-right: 0.8em;
    }

}