@import "../../common.scss";

.change_sec1 {
  padding: 15em 0 0;
  color: $color-FFFFFF;
}

.change_sec2 {
  z-index: 1;
  color: $color-FFFFFF;
  text-align: center;
  padding: 0 0 5em;
  height: 80svh;
  display: flex;
  align-items: center;
  justify-content: center;
  .text-container {
    margin: 0 0 2.313em;
    .title {
      display: inline-block;
      font-size: 1.25em;
      font-weight: 400;
      letter-spacing: 0.4px;
      line-height: 0.981em;
      font-weight: 500;
    }
    .desc {
      font-size: 3.75em;
      font-weight: 600;
      color: $color-EF7B13;
      margin: 0.167em 0 1.05em;
    }
    .sub_heading {
      font-size: 2.5em;
      letter-spacing: 0.8px;
      margin: 0 0 0.5em;
    }
    .choose_text {
      font-size: 1.375em;
      font-weight: 300;
      font-style: italic;
    }
  }
  .next_logout {
    color: $color-FFFFFF;
    text-align: center;
    margin: 2.5em 0 0;
    .cta_wrapper {
      width: 100%;
      margin: 0 auto 1.813em;
      display: flex;
      align-items: center;
      justify-content: center;
      .next_button {
        color: $color-FFFFFF;
        background: $color-014FE0;
        @include blueShadow;
        border-radius: 50px;
        border: none;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.08;
        width: 100%;
        padding: 1.235em 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // max-width: 14.313em;
        max-width: fit-content;
        .icon {
          margin: 0 0 0 0.5em;
          object-fit: contain;
          max-width: 1.25em;
        }
      }
      .back_button {
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.08;
        padding: 1.05em 2em 1.1em;
        cursor: pointer;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 992px) {
  .change_sec1 {
    padding: 12em 0 0;
  }

  .change_sec2 {
    height: 85svh;
    .text-ctainer {
      .title {
        font-size: 1.4em;
      }
      .desc {
        font-size: 2.4em;
        margin: 0.229em 0 1.75em;
      }

      .sub_heading {
        font-size: 2em;
      }
      .choose_text {
        font-size: 1.6em;
      }
    }
    .next_logout {
      .cta_wrapper {
        .next_button,
        .back_button {
          font-size: 1.4em;
        }
      }
    }
  }
}
