@font-face {
  font-family: "good-sans-regular";
  src: url("./fonts/GoodSans-Regular.eot");
  src: url("./fonts/GoodSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/GoodSans-Regular.woff2") format("woff2"),
    url("./fonts/GoodSans-Regular.woff") format("woff"),
    url("./fonts/GoodSans-Regular.ttf") format("truetype"),
    url("./fonts/GoodSans-Regular.svg#GoodSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT-america-mono-lt-normal";
  src: url("./fonts/GTAmericaMono-Lt.eot");
  src: url("./fonts/GTAmericaMono-Lt.eot?#iefix") format("embedded-opentype"),
    url("./fonts/GTAmericaMono-Lt.woff2") format("woff2"),
    url("./fonts/GTAmericaMono-Lt.woff") format("woff"),
    url("./fonts/GTAmericaMono-Lt.ttf") format("truetype"),
    url("./fonts/GTAmericaMono-Lt.svg#GTAmericaMono-Lt") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT-Sectra-Display-italic";
  src: url("./fonts/GTSectraDisplay-LightItalic.eot");
  src: url("./fonts/GTSectraDisplay-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/GTSectraDisplay-LightItalic.woff2") format("woff2"),
    url("./fonts/GTSectraDisplay-LightItalic.woff") format("woff"),
    url("./fonts/GTSectraDisplay-LightItalic.ttf") format("truetype"),
    url("./fonts/GTSectraDisplay-LightItalic.svg#GTSectraDisplay-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
/* 
@font-face {
    font-family: 'GT Sectra Display';
    src: url('./fonts/GTSectraDisplay-LightItalic_1.eot');
    src: url('./fonts/GTSectraDisplay-LightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GTSectraDisplay-LightItalic_1.woff2') format('woff2'),
        url('./fonts/GTSectraDisplay-LightItalic_1.woff') format('woff'),
        url('./fonts/GTSectraDisplay-LightItalic_1.ttf') format('truetype'),
        url('./fonts/GTSectraDisplay-LightItalic_1.svg#GTSectraDisplay-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Sectra Display';
    src: url('./fonts/GTSectraDisplay-LightItalic_2.eot');
    src: url('./fonts/GTSectraDisplay-LightItalic_2.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GTSectraDisplay-LightItalic_2.woff2') format('woff2'),
        url('./fonts/GTSectraDisplay-LightItalic_2.woff') format('woff'),
        url('./fonts/GTSectraDisplay-LightItalic_2.ttf') format('truetype'),
        url('./fonts/GTSectraDisplay-LightItalic_2.svg#GTSectraDisplay-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
} */
/* 
@font-face {
    font-family: 'GT America Mono Lt';
    src: url('./fonts/GTAmericaMono-Lt_1.eot');
    src: url('./fonts/GTAmericaMono-Lt_1.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GTAmericaMono-Lt_1.woff2') format('woff2'),
        url('./fonts/GTAmericaMono-Lt_1.woff') format('woff'),
        url('./fonts/GTAmericaMono-Lt_1.ttf') format('truetype'),
        url('./fonts/GTAmericaMono-Lt_1.svg#GTAmericaMono-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */
/* 
@font-face {
    font-family: 'GT Sectra Display';
    src: url('./fonts/GTSectraDisplay-LightItalic_3.eot');
    src: url('./fonts/GTSectraDisplay-LightItalic_3.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GTSectraDisplay-LightItalic_3.woff2') format('woff2'),
        url('./fonts/GTSectraDisplay-LightItalic_3.woff') format('woff'),
        url('./fonts/GTSectraDisplay-LightItalic_3.ttf') format('truetype'),
        url('./fonts/GTSectraDisplay-LightItalic_3.svg#GTSectraDisplay-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
} */
/* 
@font-face {
    font-family: 'GT America Mono Lt';
    src: url('./fonts/GTAmericaMono-Lt_2.eot');
    src: url('./fonts/GTAmericaMono-Lt_2.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GTAmericaMono-Lt_2.woff2') format('woff2'),
        url('./fonts/GTAmericaMono-Lt_2.woff') format('woff'),
        url('./fonts/GTAmericaMono-Lt_2.ttf') format('truetype'),
        url('./fonts/GTAmericaMono-Lt_2.svg#GTAmericaMono-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America Mono Lt';
    src: url('./fonts/GTAmericaMono-Lt_3.eot');
    src: url('./fonts/GTAmericaMono-Lt_3.eot?#iefix') format('embedded-opentype'),
        url('./fonts/GTAmericaMono-Lt_3.woff2') format('woff2'),
        url('./fonts/GTAmericaMono-Lt_3.woff') format('woff'),
        url('./fonts/GTAmericaMono-Lt_3.ttf') format('truetype'),
        url('./fonts/GTAmericaMono-Lt_3.svg#GTAmericaMono-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */
