.inf_icon_prf {
  margin-left: 0.333em;
  width: 0.778em;
  height: 0.778em;
  position: relative;
  top: -0.02em;
  cursor: pointer;
}

.comp_prof_container {
  display: none;

  &.active {
    display: block;
  }

  .comp_prof_wrapper {
    margin: 0 0 3.75em;
  }

  .title {
    color: #111111;
    font-size: 2.25em;
    font-weight: 600;
    letter-spacing: 0.72px;
    line-height: 1.25;
    margin-bottom: 0.445em;
  }

  .cta_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25em;

    .title {
      margin-bottom: 0;
    }
  }

  .cta_wrapper {
    display: flex;
    align-items: center;

    .edit_icon {
      width: 100%;
      max-width: 1.099em;
      min-width: 1.099em;
      margin-right: 0.375em;
      display: block;
    }
  }

  .profile_row_b_edit_main {
    gap: 0 1.3em;
    row-gap: 2em;
  }

  .lockIcon_pdf_com {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    width: 1.025em;
  }

  .pofile_row {
    margin: 0 auto;

    // margin: 0 0 0 -1.25em;
    .pofile_col {
      padding: 0;
      // margin-right: 1.25em;
      // margin-right: 0.75em;
      max-width: calc(33.33% - 0.9em);
      // margin-bottom: 2em;

      &:last-child {
        margin-right: 0;
      }

      .prf_bx_img_prev {
        .img_wrapper {
          padding: 0;
          height: 100%;
          overflow: hidden;
          min-height: 20.5em;
          max-height:20.5em;
        }

        .pdf_img_prev_edit {
          width: 100%;
          height: 100%;
        }

        .pdf_dw_icon_prev {
          width: 2.5em;
          height: 2.5em;
          margin-left: 1.875em;
        }

        .pdf_title_previmg {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          bottom: -0.3em;
          font-size: 1em !important;
          width: 100%;
          background-color: #E4E4E4;
          white-space: normal;
          /* normal wrapping allow */
          word-wrap: break-word;
          /* older browsers */
          overflow-wrap: anywhere;
          line-height: 1.375em;
          padding: 0.625em 0.75em;
          border-bottom-left-radius: 0.625em;
          border-bottom-right-radius: 0.625em;
        }
      }

      .profile_box {
        .pdf_title {
          // text-transform: capitalize;
          color: #111111;
          font-size: 1.25em;
          font-weight: 400;
          font-style: italic;
          letter-spacing: 0px;
          line-height: normal;
          margin-top: 0.728em;
          width: 100%;
          white-space: normal;
          word-wrap: break-word;
          overflow-wrap: anywhere;
        }
      }

      .img_wrapper {
        padding: 8em 1.25em 1.25em;
        border-radius: 0.625em;
        background-color: #1111110f;
        -webkit-border-radius: 0.625em;
        -moz-border-radius: 0.625em;
        -ms-border-radius: 0.625em;
        -o-border-radius: 0.625em;

        .pdf_icon {
          width: 100%;
          max-width: 7em;
          display: block;
          margin: auto;
        }


        .download_icon {
          width: 100%;
          max-width: 2.5em;
          display: block;
          margin-top: 3em;
          margin-left: auto;
        }
      }
    }
  }
}

.company-profile-pdf-info-backdrop {
  opacity: 0.3 !important;
}

.company-profile-modal-pdf-info {

  .modal-content {
    border: none !important;

    .modal-body {
      border: none !important;
      background-color: #fff !important;

      .list_item {
        color: #000 !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .comp_prof_container {
    .comp_prof_wrapper {
      margin-top: 2.4em;
      margin-bottom: 2.4em;
    }

    .title {
      font-size: 1.6em;
      letter-spacing: 0.32px;
      line-height: 1.625;
    }

    .cta_container {
      margin-bottom: 1.2em;
    }

    .cta_wrapper {
      .edit_icon {
        max-width: 1.061em;
        min-width: 1.061em;
      }
    }

    .profile_row_b_edit_main {
      row-gap: 1em;
      column-gap: 0.8em;

      // .img_wrapper {
      //   height: 11em;
      // }
    }

    .pofile_row {
      .pofile_col {
        max-width: calc(33.33% - 0.55em);
        // margin-right: 0.7em;

        .img_wrapper {
          padding: 3.5em 0.6em 0.6em;
          min-height: 10.8em !important;
          max-height: 10.8em !important;

          .pdf_icon {
            max-width: 3.582em;
          }

          .download_icon {
            max-width: 2em;
            margin-top: 1em;
          }
        }

        .prf_bx_img_prev {
          .pdf_dw_icon_prev {
            margin-left: 1.2em;
          }
        }

        .profile_box {
          .pdf_title {
            font-size: 0.8em !important;
            letter-spacing: 0px;
            line-height: 1.5;
            margin-top: 0.75em;
            padding-top: 0.4em;
            padding-bottom: 0.4em;
          }

          .lockIcon_pdf_com {
            width: 0.667em;
          }
        }
      }
    }
  }
}