@import '../../common.scss';

.bmo_sec1 {
  padding: 14.625em 8.75em 4.688em;

  .bmo_cards {
    display: flex;
    gap: 4em;

    .profile_card {
      width: 60%;
    }
  }

  .bmo_cards {
    padding: 5em 0 0;
    .dashboard_row {
      // display: flex;
      justify-content: space-between;
      // align-items: center;
      margin: 0 auto;
    }
    .dashboard_col {
      padding: 0;
      .swiper,
      .swiper-slide {
        height: 100%;
        padding: 0 0 1px;
      }
      .swiper-pagination {
        text-align: right;
      }
      .swiper-pagination-fraction,
      .swiper-pagination-custom,
      .swiper-horizontal > .swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: auto;
        right: 0;
        bottom: 0;
      }

      .swiper-pagination-bullet {
        background: transparent;
        border: 1px solid $color-FFFFFF;
        opacity: 1;
        width: 0.65em;
        height: 0.65em;
      }

      .swiper-pagination-bullet-active {
        background: $color-FFFFFF;
        border: 1px solid $color-FFFFFF;
        opacity: 1;
      }
    }
    .notice_col {
      background-color: rgba($color: $color-FFFFFF, $alpha: 0.1);
      border: 1px solid #014fe0;
      border-radius: 2em;
      opacity: 1;
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      padding: 1.438em 1.875em 4.25em;
      .heading {
        color: $color-F6F6F6;
        font-size: 2.0625em;
        font-weight: 400;
        letter-spacing: 0.66px;
        line-height: 1.42em;
      }
    }
  }

  .cta_wrapper {
    display: flex;
    justify-content: center;
  }

  .banner_title {
    @include textStyles(2.5em, 1.25em, 1.76px);
    color: $color-FFFFFF;
    font-weight: 600;
    max-width: 50%;
    height: 100%;
    text-align: center;
    margin: 3em auto 1.75em;
    .orange_text {
      color: $color-EF7B13;
    }
  }
}

.bmo_sec3 {
  padding: 4.688em 0 5.625em;
  color: $color-FFFFFF;
  .text_container {
    color: $color-FFFFFF;
    max-width: 90%;
    .title {
      @include textStyles(4.636em, 1.136em, 1.76px);
    }
    .desc {
      @include textStyles(2em, 1.203em, 0.64px);
      margin: 1em 0 0;
    }
  }
  .cta_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.bmo_sec2 {
  background: $color-014FE0;
  color: $color-FFFFFF;
  overflow: hidden;
  .video_row {
    align-items: center;
  }
  .archinza_chat_video {
    padding: 9.688em 0 0;
  }
  .text_container {
    color: $color-FFFFFF;
    max-width: 90%;
    padding: 0 0 1em;
    .title {
      @include textStyles(4.636em, 1.136em, 1.76px);
    }
    .desc {
      @include textStyles(2em, 1.2em, 0.64px);
      margin: 1em 0 2.5em;
      br {
        display: none;
      }
    }

    .ai-step {
      display: flex;
      align-items: center;
      gap: 1em;
      margin-block: 3.75em;

      .ai-img {
        width: 5.625em;
        height: 5.625em;
        border-radius: 50%;
        overflow: hidden;
        background-color: #00000029;
      }

      .ai-title {
        @include textStyles(2em, 1.136em, 1.76px);
        font-weight: 600;
      }
      .ai-subtitle {
        @include textStyles(1.5em, 1.136em, 1.76px);
        margin-top: 0.5em;
      }
    }
    .cta_wrapper {
      .common_cta {
        @include orangeCtaShadow;
        background: $color-FFFFFF;
        color: $color-014FE0;
      }
    }
  }
}

@media (max-width: 992px) {
  .bmo_sec3 {
    .text_container {
      margin: 0 0 4em;
    }
  }
}

@media (max-width: 768px) {
  .bmo_sec2 {
    padding: 9.688em 0 0;
    .archinza_chat_video {
      padding: 0;
    }
    .text_container {
      max-width: 100%;
      margin: 0 0 4em;
      text-align: center;
      .cta_wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .bmo_sec3 {
    .text_container {
      text-align: center;
      max-width: 100%;
      .title {
        @include textStyles(2.6em, 1.5em, 0.52px);
        br {
          display: none;
        }
      }
      .desc {
        @include textStyles(1.6em, 1.5em, 0.32px);
      }
    }
  }

  .bmo_sec2 {
    padding: 4.7em 0 3.2em;
    .text_container {
      text-align: center;
      max-width: 100%;
      .title {
        @include textStyles(2.6em, 1.5em, 0.52px);
      }
      .desc {
        @include textStyles(1.6em, 1.5em, 0.32px);
        margin: 2.2em 0 3.2em;
        br {
          display: block;
        }
      }
    }
  }
}
