.pricing_plans {
  background-color: #f1f1f1;
  // padding-top: 13.625em;

  .pricing-container {
    // margin-top: 5.9375em;
    margin-top: 12em;
    .pricing-wrapper {
      margin: 0 auto;
      padding: 0 1.45em 7.5em;
      color: #111111;
      transition: all 0.3s;
    }

    /* Header */
    .pricing-header {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .back-btn {
        display: flex;
        align-items: center;
        position: absolute;
        left: -5em;
        top: 50%;
        transform: translateY(-50%);

        .back-text {
          font-size: 1.5em;
          font-weight: 700;
          letter-spacing: 0px;
          line-height: normal;
          margin-left: 0.2em;
        }
        .icon {
          width: 1.25em;
          height: 1.25em;
        }
      }

      .title {
        color: #111111;
        font-size: 2.25em;
        font-weight: 600;
        letter-spacing: 0.72px;
        line-height: 1.88;
        text-align: center;
      }
    }

    /* Plan Toggle */
    .plan-toggle-desk {
      .plan-btn {
        color: #111111;
        font-size: 1.25em;
        font-weight: 500;
        letter-spacing: 0.4px;
        line-height: 1.5;
        padding: 0.45em 1.4em;
        border-radius: 50px;
        border: 0.5px solid #111111;
        background: #ffffff;
        cursor: default;
        transition: 0.3s ease;
        position: absolute;
        left: 2em;
        top: 0;
        transform: translateY(-50%);
        &.active {
          background: #111111;
          color: #ffffff;
          transition: 0.3s ease;
        }
      }
    }

    /* Content */
    .content_wrapper {
      display: flex;
      justify-content: space-between;
    }

    .content {
      position: relative;
      border-radius: 0.625em;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      box-shadow: 0px 3px 6px #00000029;
      margin-top: 5.25em;
      padding: 0;
      width: 100%;
      max-width: calc(50% - 1.875em);
      transition: 0.3s ease;

      display: flex;
      flex-direction: column;
      cursor: default;
      border: 1px solid #111111;

      // &.active {
      //   transition: 0.3s ease;
      // }

      .image-box {
        display: flex;
        justify-content: center;

        .plan-image {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }

      .text-box {
        padding: 2em 2em 2.5em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .heading {
          color: #111111;
          font-size: 2.5em;
          font-weight: 700;
          letter-spacing: 0.8px;
          line-height: normal;
          margin-bottom: 0.5em;

          .highlight {
            color: #024fe0; // blue-600
          }
        }

        .description {
          color: #a4a4a4;
          font-size: 1.125em;
          font-weight: 500;
          letter-spacing: 0.36px;
          line-height: 1.44;
          margin-bottom: 1.778em;
          flex-grow: 1;
        }
      }

      &.currentActivePlan {
        opacity: 0.3;
        cursor: not-allowed;
        // pointer-events: none;
      }
    }

    /* Benefits */
    .benefits-box {
      .benefits-title {
        color: #111111;
        font-size: 1.75em;
        font-weight: 700;
        letter-spacing: 0.56px;
        line-height: 1.4;
      }

      .benefits-list {
        margin: 0;
        list-style: none;
        padding: 0;

        .benefit-item {
          display: flex;
          align-items: center;
          font-size: 1.375em;
          font-weight: 600;
          letter-spacing: 0.44px;
          line-height: 1.182;
          color: #a4a4a4;
          margin-top: 0.7273em;
          span {
            color: #111111;
            margin: 0;
            padding: 0;
            display: inline-block;
            width: fit-content;
          }

          .check-icon {
            width: 1em;
            // height: 1.5em;
            object-fit: contain;
            margin-right: 0.5455em;
          }

          .cross-icon {
            width: 0.8em;
            // height: 1.5em;
            object-fit: contain;
            margin-right: 0.5455em;
          }
        }
      }
    }

    /* CTA */
    .cta {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      margin-top: 2.75em;

      .buy-btn {
        font-size: 1.25em;
        font-weight: 500;
        background: #024fe0;
        color: #ffffff;
        padding: 0.575em 1em;
        border-radius: 50px;
        transition: 0.3s ease;
        width: 100%;
        max-width: 100%;
        transition: 0.3s ease;

        .old-price {
          text-decoration: line-through;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .pricing_plans {
    .pricing-container {
      .pricing-wrapper {
        padding: 0 0 7.5em;
      }

      .pricing-header {
        .back-btn {
          left: 0;
        }
      }

      .content {
        max-width: calc(50% - 1em);
      }
    }
  }
}

@media (max-width: 767px) {
  .pricing_plans {
    .pricing-container {
      margin-top: 11em;
      .pricing-wrapper {
        padding: 0 0 7.5em;
      }

      .pricing-header {
        .back-btn {
          left: 0;
          .back-text {
            font-size: 1.2em;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 1.167;
            margin-left: 0.667em;
          }
          .icon {
            width: 0.5em;
            height: 0.84em;
          }
        }

        .title {
          font-size: 1.6em;
          letter-spacing: 0.32px;
          line-height: normal;
        }
      }

      /* Plan Toggle */
      .plan-toggle {
        display: flex;
        margin: 2em auto 0;
        background: #f1f1f1;
        border-radius: 50px;
        border: 0.5px solid #a4a4a4;
        padding: 0.42em 0.6em;
        max-width: 40em;

        .plan-btn {
          font-size: 1.2em;
          font-weight: 500;
          color: #111111;
          flex: 1;
          padding: 0.584em 0.5em;
          border-radius: 50px;
          font-weight: 500;
          // cursor: pointer;
          transition: 0.3s ease;
          &.active {
            background: #111111;
            color: #ffffff;
            transition: 0.3s ease;
          }
        }
      }

      .content_wrapper {
        flex-direction: column;
      }
      .content {
        border-radius: 10px;
        margin-top: 3em;
        transition: 0.5s ease;
        max-width: 100%;
        &.active {
          border: 1px solid #ffffff;
          transition: 0.3s ease;
        }

        .text-box {
          padding: 1.2em 1.2em 2em;
          .heading {
            font-size: 2em;
            letter-spacing: 0.4px;
            line-height: 1.3;
            margin-bottom: 0.35em;
          }
          .description {
            font-size: 1.2em;
            letter-spacing: 0px;
            line-height: 1.5;
            margin-bottom: 3.334em;
          }
        }
      }

      .benefits-box {
        .benefits-title {
          font-size: 1.6em;
          letter-spacing: 0.32px;
          line-height: 1.625;
        }

        .benefits-list {
          .benefit-item {
            font-size: 1.2em;
            letter-spacing: 0.24px;
            line-height: 1.5;
            margin-top: 1em;

            .check-icon,
            .cross-icon {
              width: 1.034em;
              height: auto;
              margin-right: 0.55em;
            }
          }
        }
      }

      .cta {
        margin-top: 4em;

        .buy-btn {
          font-size: 1.4em;
          letter-spacing: 0px;
          line-height: 1;
          padding: 0.786em 1em;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .pricing_plans {
    .pricing-container {
      .plan-toggle {
        max-width: 100%;
      }
    }
  }
}
