.Complete_actions_popup {
    .modal-dialog {
        max-width: 100vw;
        margin: 0 auto;
        height: 100vh;
    }

    .modal-content {
        width: 67.375em;
        margin: 0 auto;
        border-radius: 20px;
        border: none;
        max-height: 95vh;
        overflow-y: scroll;
    }

    .modal-header {
        padding: 0;
        border: 0;
    }

    .modal-body {
        padding: 2.5em 2.063em;
    }

    .Complete_actions_popup_cancel_btn {
        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 1;
    }

    .Complete_actions_popup_cancel_btn_img {
        max-width: 3.25em;
    }

    .Complete_actions_popup_m_heading {
        font-size: 2.25em;
        font-weight: 600;
        margin-bottom: 0.778em;
    }

    .sub_heading_complete_action {
        font-size: 1.75em;
        margin-bottom: 0.857em;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #111111;
    }

    .sm_heading_complete_actions {
        font-size: 1.75em;
        font-weight: 600;
        letter-spacing: 0.018em;
    }

    .align_base_text {
        align-items: flex-end;
        justify-content: space-between;
    }

    .text_input_complete_actions {
        border-radius: 10px;
        border: 0.5px solid #707070;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 0.8em 1.2em;
        width: 31.7em;
        margin-top: 0.8em;
        font-size: 1.25em;
        font-weight: 500;
    }

    .complete_actions_step_two_wrapper {
        margin-top: 2.5em;

        .sm_heading_complete_actions {
            margin-bottom: 0.964em;
        }
    }

    .complete_actions_step_three_wrapper {
        margin-top: 2.5em;
    }

    .drag_drop_input_file {
        margin-top: 1em;
        width: 35em;

        .upload_icon {
            width: 100%;
            max-width: 4.75em;
        }
    }

    .confirmation_common_btn {
        background-color: #014FE0;
        border: 0;
        border-radius: 50px;
        box-shadow: 0 0 25px 5px transparent;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 1.25em;
        font-weight: 400;
        justify-content: center;
        letter-spacing: 0.4px;
        line-height: 1.08;
        max-width: fit-content;
        padding: 1.1em 1.6em;
        width: 100%;
        margin: 1.95em auto 2.5em auto;
        margin-bottom: 0;
    }

    .text_area_complete_action {
        overflow: hidden;
        resize: none;
        box-sizing: border-box;
        width: 100%;
        border: 0.5px solid #9F9F9F;
        border-radius: 5px;
        padding: 1.2em;
        opacity: 80%;
        letter-spacing: 0.02em;

        &.limit-reached {
            border-color: red;
        }
    }

    .count_text_aria {
        font-size: 0.571em !important;
        opacity: 60%;
        font-weight: 400;
        transition: color 0.3s ease;
    }

    .user_input_field_container {
        width: 35em;
    }

    .user_input_field_container--Complete-actions {
        .search_location_connect {
            margin-bottom: 2em;

            .searchIcon_connect {
                width: 1.875em;
            }

            .search_location_ip {
                padding-left: 3.2em;
            }
        }

        .search_lcation_result {
            padding-bottom: 0;
            border: 0;
            margin-top: 0;
            margin-bottom: 1.75em;

            .address_search_location {
                font-size: 1.25em;
                color: #111111;
                opacity: 0.4;
                padding-right: 1em;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .user_input_field_container--Complete-actions {
        .search_location_connect {

            .searchIcon_connect {}

            .search_location_ip {
                font-size: 1.2em;
            }
        }

        .search_lcation_result {
            font-size: 0.96em;

            .address_search_location {
                font-size: 0.96em;
            }
        }
    }

    .Complete_actions_popup {
        .user_input_field_container {
            width: 100%;
        }

        .modal-content {
            width: 100%;
            height: 100%;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            max-height: 100vh;
        }

        .modal-header {}

        .modal-body {
            padding: 3.2em 2.063em !important;
        }

        .Complete_actions_popup_cancel_btn {
            position: unset;
            margin-top: 1.6em;
            margin-right: 1.6em;
            margin-left: auto;
        }

        .Complete_actions_popup_cancel_btn_img {
            width: 2.4em;
            height: 2.4em;
        }

        .Complete_actions_popup_m_heading {
            font-size: 1.6em;
            margin-bottom: 1.375em;
            letter-spacing: 0.02em;
        }

        .sub_heading_complete_action {
            font-size: 1.6em;
            letter-spacing: 0.02em;
            margin-bottom: 1em;
        }

        .sm_heading_complete_actions {
            font-size: 1.2em;
            letter-spacing: 0.02em;
        }

        .text_input_complete_actions {
            width: 100%;
            margin-top: 0.97em;
            padding: 1em;
            font-size: 1.2em;
        }

        .complete_actions_step_two_wrapper {
            margin-top: 2.4em;
        }

        .complete_actions_step_three_wrapper {
            margin-top: 2.4em;
        }

        .drag_drop_input_file {
            width: 100%;

            .upload_icon {
                width: 100%;
                max-width: 3em;
            }

            .ant-upload-text {
                font-size: 0.857em !important;
                font-weight: 500;
            }

            .ant-upload-hint {
                font-size: 0.714em !important;
                font-weight: 400;
            }
        }
    }
}