@import "../../../common.scss";

.support_container {
  .title_edit {
    display: flex;
    justify-content: space-between;
    // padding: 0 0 2.5em;
    .section_title {
      @include textStyles(2.5em, normal, 0);
      color: $color-EF7B13;
      font-weight: 600;
    }
    .edit_save {
      display: flex;
      .edit_icon {
        width: 100%;
        max-width: 1.85em;
      }
      .book_icon {
        width: 100%;
        max-width: 1.85em;
        margin: 0 0 0 1.75em;
      }
    }
  }

  .brand_subsec {
    padding: 2.5em 0;
    border-bottom: 1px solid rgba($color: $color-111111, $alpha: 0.2);

    .title_pin_wrap {
      display: flex;
      align-items: center;
      padding: 0 0 0.25em;
      .entity {
        display: block;
        font-style: normal;
        font-size: 1.25em;
        margin: 0 0 0 1em;
        cursor: pointer;
      }
    }

    &:last-child {
      border: none;
    }

    .title {
      @include textStyles(1.75em, 1.5em, 0.56px);
      color: $color-111111;
      font-weight: 600;
      padding: 0 0 0.857em;
    }

    .cp_heading {
      padding: 0 0 0.571em;
    }

    .cat_heading {
      padding: 0;
    }

    .projects_heading {
      padding: 0 0.857em 0 0;
    }

    .notice_msg {
      @include textStyles(0.75em, 1.333em, 0px);
      color: $color-111111;
      font-style: italic;
      opacity: 0.8;
    }

    .title_flex {
      display: flex;
      align-items: center;
      padding: 0 0 1.5em;
    }

    .image_title {
      @include textStyles(1.5em, 0.9em, 0);
      font-weight: 500;
    }

    .file_flex {
      display: flex;
      align-items: center;
      padding: 2.5em 0 0;
      .filename {
        width: 100%;
        max-width: 35%;
        background: $color-FFFFFF;
        @include textStyles(1.125em, 1.194em, 0);
        padding: 1em 1.125em;
        border: 1px solid #1111114d;
        border-radius: 8px;
        opacity: 1;
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        min-height: 3.333em;
        max-height: 3.333em;
        text-wrap: nowrap;
        overflow: hidden;
      }

      .delete_icon {
        width: 100%;
        max-width: 1.5em;
        margin: 0 0 0 1.722em;
        cursor: pointer;
        object-fit: contain;
      }

      .catalouge_switch {
        padding: 0 0 0 2.5em;
      }

      .name_flex {
        width: 100%;
        display: flex;
        align-items: center;
        max-width: 35%;
        .filename {
          max-width: 100%;
        }
      }
    }

    .upload_file_wrapper {
      max-width: 35%;
      padding: 2em 0 0;
      .input_wrapper {
        padding: 0 0 0.5em;
        .upload_label {
          @include textStyles(1.125em, 1.194em, 0);
          width: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;
          background: #e0e0e0;
          border: 1px solid #1111114d;
          border-radius: 8px;
          opacity: 1;
          backdrop-filter: blur(11px);
          -webkit-backdrop-filter: blur(11px);
          padding: 1.038em 1.375em;
          min-height: 3.333em;
          max-height: 3.333em;
          .img_wrapper {
            width: 100%;
            max-width: fit-content;
            .upload_icon {
              width: 100%;
              max-width: 1.675em;
              margin: 0 0.75em 0 0;
              object-fit: contain;
            }
          }
        }
      }
      .notice {
        @include textStyles(0.75em, 1.333em, 0px);
        color: $color-111111;
        font-style: italic;
        opacity: 0.8;
      }
    }

    .pr_images_container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0 -1.25em 0 0;
      .list_item {
        width: 100%;
        max-width: 33.333%;
        padding: 1.25em 1.25em 0 0;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        .project_img_wrapper {
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          &::after {
            background: linear-gradient(
              rgba(255, 255, 255, 0),
              rgba(0, 0, 0, 0.75)
            );
            border-radius: 8px;
            content: "";
            height: 40%;
            left: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
          }
          .uploaded_img {
            width: 100%;
            height: 100%;
            z-index: -1;
          }
          .image_toggle_btn {
            position: absolute;
            bottom: 15px;
            left: 12px;
            z-index: 1;
            .toggle_text {
              color: $color-FFFFFF;
            }
          }

          .close_icon {
            width: 100%;
            max-width: 2em;
            max-height: 2em;
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
            z-index: 1;
          }
        }
      }

      .project_image_uploader {
        .input_wrapper {
          .upload_label {
            @include textStyles(1.125em, 1.194em, 0);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: #e0e0e0;
            border: 1px solid #1111114d;
            border-radius: 8px;
            backdrop-filter: blur(11px);
            -webkit-backdrop-filter: blur(11px);
            padding: 1.038em 1.375em;
            .img_wrapper {
              width: 100%;
              max-width: fit-content;
              .upload_icon {
                width: 100%;
                max-width: 2.203em;
                margin: 0 0 1em;
                object-fit: contain;
              }
            }
          }
        }
        .notice {
          @include textStyles(0.75em, 1.333em, 0px);
          color: $color-111111;
          font-style: italic;
          opacity: 0.8;
        }
      }
    }

    .checkboxes {
      .business_edit_checkbox {
        margin: 0 1.25em 0 0;
      }
    }

    .service_dropdown {
      max-width: 35%;
    }

    .field_wrapper {
      display: flex;
      align-items: center;
      .field_icon {
        width: 100%;
        height: 100%;
        max-width: 2.875em;
        margin: 0 0.75em 0 0;
        object-fit: contain;
      }
    }

    .subbrand {
      padding: 3.438em 0 0;
    }

    .switch_btn {
      .toggle_container {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .toggle_text {
        @include textStyles(0.875em, 1.8em, 0);
        text-transform: uppercase;
      }

      .toggle_switch {
        position: relative;
        width: 2.875em;
        height: 1.5em;
        border-radius: 15px;
        padding: 0.1em;
        margin: 0 0.5em;
        border: 1px solid #1111114d;
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        transition: all 0.3s ease;
      }

      .toggle_circle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1em;
        height: 1em;
        border-radius: 50%;
        transition: all 0.3s ease;
      }

      .toggle_circle.left {
        left: 0.1em;
        background-color: #ff002a;
      }

      .toggle_circle.right {
        right: 0.1em;
        background-color: #02b54a;
      }
    }
  }
}

.submit_page {
  width: 100%;
  padding: 2.5em 0 0;
  text-align: center;
  .cta_wrapper {
    padding: 0 0 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    .common_cta {
      background: $color-FFFFFF;
      color: $color-111111;
      margin: 0;
    }
    .submit_cta {
      background: $color-014FE0;
      color: $color-FFFFFF;
      .tick_icon {
        margin: 0 0.5em 0 0;
      }
    }
    .back_cta {
      @include textStyles(1.25em, 1.1em, 0.4px);
      color: $color-111111;
    }
    .save_next {
      border: 1px solid $color-0038BC;
    }
  }
  .notice {
    @include textStyles(1.125em, 1.607em, 0.56px);
    font-weight: 400;
    margin: 0 auto 1.225em;
    &:last-child {
      margin: 0 auto;
    }
    .anchor {
      color: $color-F77B00;
      text-decoration: underline;
      cursor: pointer;
    }
    .blue_anchor {
      color: $color-014FE0;
    }
  }
}

@media (max-width: 992px) {
  .support_container {
    .brand_subsec {
      .title {
        font-size: 2em;
      }
      .upload_file_wrapper .notice,
      .notice_msg {
        font-size: 1.2em;
      }
      .service_dropdown,
      .upload_file_wrapper {
        max-width: 90%;
      }
      .file_flex {
        .filename {
          max-width: 90%;
        }
        .name_flex {
          max-width: 100%;
          .filename {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .support_container {
    .title_edit {
      justify-content: center;
      .section_title {
        font-size: 1.6em;
      }
      .edit_save {
        display: none;
      }
    }
    .brand_subsec {
      padding: 3.2em 0;
      &.with_checkboxes {
        padding: 3.2em 0 1.7em;
      }
      &:first-child {
        padding: 2.2em 0 3.2em;
      }

      .title {
        font-size: 1.6em;
        letter-spacing: 0.36px;
        padding: 0 0 0.75em;
      }

      .projects_heading {
        padding: 0 0.857em 0 0;
      }

      &:last-child {
        border: none;
      }
      .upload_file_wrapper .notice,
      .notice_msg {
        font-size: 0.8em;
      }

      .file_flex {
        padding: 1.6em 0 0;
        &.file_hide {
          flex-direction: column;
          align-items: flex-start;
        }
        .filename {
          max-width: 90%;
        }
        .name_flex {
          max-width: 100%;
          .filename {
            max-width: 100%;
          }
        }
        .catalouge_switch {
          padding: 0.8em 0 0;
        }
      }

      .upload_file_wrapper {
        padding: 1.2em 0 0;
      }

      .pr_images_container {
        padding: 1.6em 0 0;
        margin: 0;
        .list_item {
          padding: 0 0.3em 1em 0;
          .project_img_wrapper {
            .close_icon {
              max-width: 1em;
              max-height: 1em;
              top: 4px;
              right: 4px;
            }
            .image_toggle_btn {
              bottom: 4px;
              left: 4px;
            }
          }
        }
      }
      .switch_btn {
        .toggle_text {
          font-size: 0.8em;
        }
      }
    }
  }
}
