@mixin textStyles($fontSize, $lineHeight, $letterSpacing) {
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}
@mixin noShadowCta {
  border: 1px solid #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.app_main {
  background-color: #ffffff;
  // padding: 4rem 0 0;
  // font-family: ui-sans-serif, system-ui, sans-serif;
  font-family: "Poppins", sans-serif;

  // .mobile_hero {
  //   padding-top: 5rem;
  // }

  .social_count_sec {
    position: relative;
    // padding: 10em 0 5rem;
    padding: 10em 0 0;
    z-index: 1;
    // transition: all 0.3s;
    background-color: #f3f4f6;



    .home_background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100vh;
      min-height: auto;
      object-fit: fill;
      object-position: top;
    }

    .multi-avatar {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0.625em 0.625em;
      border-radius: 1.875em;
      max-width: 500px;
      // max-width: 740px;
      margin: 3.125em auto 0;
      // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .avatar-group {
      display: flex;
      margin-right: 15px;
    }

    .avatar {
      width: 4.15em;
      height: 4.15em;
      border-radius: 50%;
      // border: 2px solid #fff;
      margin-left: -10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        transform: scale(1.1);
        z-index: 1;
      }
    }

    .signup-text {
      @include textStyles(1.5em, 1.25em, 1.76px);
      // color: #ffffff;
      color: #000000;
      margin: 0;

      .swiper {
        max-width: 20em;

        .swiper-wrapper {
          align-items: center;
        }
      }
    }

    .signup-count {
      font-weight: bold;
      color: #ef7b13;
    }

    .banner-tagline {
      position: relative;
      @include textStyles(2em, 1.25em, 1.76px);
      color: #ffffff;
      text-align: center;
      margin: 1.875em 0 2.5em;
      text-transform: uppercase;

      .orange_text {
        color: #ef7b13;
      }
    }

    .launch_container {
      position: relative;
      max-width: 52.188em;
      // margin: 5em auto 0;
      margin: 4em auto 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        @include textStyles(2em, 1.797em, 1.6px);
        // color: #ffffff;
        color: #000000;
        font-family: ui-sans-serif, system-ui, sans-serif;
      }

      .clock_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: center;
        margin: 1.75em 0 0;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 30px 50px 50px #00000029;
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        border: 1px solid rgba($color: #707070, $alpha: 0.5);
        border-radius: 15px;
        padding: 1.8125em 5.4375em;

        .clock_content {
          position: relative;
          width: calc(100% / 7);
        }

        .clock_number {
          @include textStyles(3.9375em, 1.20634em, 3.09px);
          color: #f77b00;
          font-weight: 700;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        .clock_text {
          // color: #ffffff;
          color: #000000;
          font-size: 1.25em;
          line-height: 1.92em;
          margin-top: 3.825em;
          letter-spacing: 0;
        }

        .clock_dots {
          align-self: flex-start;
          color: #f77b00;
          font-weight: 500;
          font-size: 3.125em;
          letter-spacing: 2.45px;
          line-height: 1.52em;
        }
      }
    }
  }

  .bot_sec {
    background: #014fe0;
    color: #ffffff;
    overflow: hidden;

    .video_row {
      align-items: center;
    }

    .archinza_chat_video {
      padding: 9.688em 0 0;
    }

    .text_container {
      color: #ffffff;
      max-width: 90%;
      padding: 0 0 1em;

      .title {
        @include textStyles(3.75em, 1.167, 1.2px);
        font-family: ui-sans-serif, system-ui, sans-serif;
      }

      .desc {
        @include textStyles(2em, 1.2em, 0.64px);
        margin: 1em 0 1em;

          // Reduce padding for small screens
  @media (max-width: 640px) {
    padding: 0em 0em 0; // smaller padding on mobile
  }

        br {
          display: none;
        }
      }

      .cta_wrapper {
        .common_cta {
          @include noShadowCta;
          background: #ffffff;
          color: #014fe0;
        }

          @media (max-width: 640px) {
    padding: 0em 0em 0; // smaller padding on mobile
  }

      }
    }

    .ai-step {
      display: flex;
      align-items: center;
      gap: 1em;
      margin-block: 3.75em;

      .img_wrapper {
        position: relative;
        margin: 0 2em 0 0;

        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 2px;
          left: 0;
          right: 0;
          bottom: -90%;
          height: 100%;
          margin: 0 auto;
          border-left: 2px dashed #fff;
          z-index: -1;
        }

        .ai-img {
          width: 5.625em;
          height: 5.625em;
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .ai-title {
        @include textStyles(2em, 1.136em, 1.76px);
        font-weight: 600;
        text-align: left;
      }

      .ai-subtitle {
        @include textStyles(1.5em, 1.136em, 1.76px);
        margin-top: 0.5em;
        text-align: left;
      }

      &.ai-step-2 {
        .img_wrapper {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .social_count_sec {
    .launch_container {
      .title {
        font-size: 2.4em;
      }

      .clock_wrapper {
        .clock_text {
          font-size: 1.4em;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .app_main {
    .social_count_sec {
      // padding: 10em 0 5rem;
      padding: 5em 0 0;

      .launch_container {
        // margin: 7em 0 0;
        margin: 3em 0 0;
        text-align: center;
        max-width: 100%;

        .title {
          @include textStyles(1.6em, normal, 0.32px);
        }

        .clock_wrapper {
          margin: 2.1em 0 0;
          padding: 1.6em 3.2em;

          .clock_number {
            font-size: 3.1em;
            letter-spacing: 1.52px;
          }

          .clock_text {
            font-size: 0.9em;
          }
        }
      }
    }

    .bot_sec {
      padding: 9.688em 0 0;

      .archinza_chat_video {
        padding: 0;
      }

      .text_container {
        max-width: 100%;
        margin: 0 0 4em;
        text-align: center;

        .cta_wrapper {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .app_main {
    background-color: #ffffff;
    // padding-top: 5rem;
    padding: 1rem 0 0;

    .social_count_sec {
      // padding: 10em 0 3rem;
      padding: 10em 0 0;
    }
  }
}

@media (max-width: 600px) {
  .app_main {
    .social_count_sec {
      .multi-avatar {
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        // margin: 1em auto 3.3em;
        margin: 1em auto 0;
        // padding: 15px 50px;
        padding: 0px 50px 0;
      }

      .avatar-group {
        margin: 0 6px 0 0;
        max-width: 45%;
      }

      .avatar {
        width: 3.4em;
        height: 3.4em;
      }

      .signup-text {
        font-size: 14px;
        text-align: center;
        max-width: 54%;
        font-size: 1em;
      }

      .banner-tagline {
        font-size: 1.6em;
      }
    }

    .bot_sec {
      padding: 4.7em 0 0;

      .text_container {
        text-align: center;
        max-width: 100%;

        .title {
          @include textStyles(2.6em, 1.5em, 0.52px);
        }

        .desc {
          @include textStyles(1.6em, 1.5em, 0.32px);
          margin: 1.4em 0 1.4em;

          br {
            display: block;
          }
        }
      }

      // video {
      //   margin-bottom: -2em;
      // }
    }
  }
}
