@import "../../common.scss";

.business_banner {
  padding: 10em 0 0;

  .biz_bg_img {
    width: 100%;
    height: 25em;
    object-fit: cover;
  }

  .blue_strip {
    background: $color-014FE0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1.125em 0;

    .strip_flex {
      position: relative;
      display: flex;
      align-items: center;

      .logo_wrapper {
        position: relative;
        width: 100%;
        max-width: 18.75em;
        margin: 0 3.75em 0 0;

        .logo_box {
          width: 100%;
          height: 100%;
          max-width: 18.75em;
          max-height: 18.75em;
          min-width: 18.75em;
          min-height: 18.75em;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto 0;

          .brand_logo {
            width: 100%;
            height: 100%;
            max-width: 18.75em;
            max-height: 18.75em;
          }

          .brand_logo_edit {
            width: 100%;
            height: 100%;
            max-width: 3.75em;
            max-height: 3.75em;
            position: absolute;
            top: 1em;
            left: 1em;
            cursor: pointer;
          }
        }
      }

      .edit_brand_wrapper {
        width: 100%;
        // max-width: max-content;
        max-width: 70%;
        display: flex;
        // flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;

        .current_name_wrapper {
          width: 100%;
          // max-width: max-content;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .brand_name {
            width: 100%;
            max-width: fit-content;
            @include textStyles(2.8125em, 1.4em, 0);
            font-weight: 500;
            color: $color-FFFFFF;
            margin: 0 0.889em 0 0;
            text-transform: uppercase;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          .edit_pin {
            display: inline;
            width: 100%;
            max-width: 2.1em;
            margin: 0 2.5em 0 0;
            cursor: pointer;
          }
        }

        .field_wrapper {
          width: 100%;
          max-width: fit-content;
          padding: 1em 0 0;
        }
      }

      .profile_status {
        position: absolute;
        right: 0;
        padding: 0;
        display: flex;
        align-items: center;

        .status_box {
          display: block;
          @include textStyles(1em, 1em, 0.32px);
          background: $color-FFFFFF;
          color: $color-111111;
          padding: 0.75em 1.375em;
          border-radius: 36px;
          display: flex;
          align-items: center;
          text-transform: capitalize;

          &::before {
            content: "";
            display: inline-block;
            width: 0.75em;
            height: 0.75em;
            margin: 0 0.5em 0 0;
            border-radius: 50%;
          }

          &.draft {
            border: 1px solid $color-FF002A;

            &::before {
              background-color: $color-FF002A;
            }
          }

          &.completed {
            border: 1px solid $color-00BC4B;

            &::before {
              background-color: $color-00BC4B;
            }
          }

          &.verified {
            border: 1px solid $color-0038BC;

            &::before {
              background-color: $color-0038BC;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .business_banner {
    padding: 9em 0 0;

    .blue_strip {
      .strip_flex {
        .logo_wrapper {
          max-width: 12.5em;

          .logo_box {
            min-width: 12.5em;
            min-height: 12.5em;
            max-width: 12.5em;
            max-height: 12.5em;

            .brand_logo {
              max-width: 12.5em;
              max-height: 12.5em;
            }

            .brand_logo_edit {
              top: 0.25em;
              left: 0.25em;
            }
          }
        }

        .brand_name {
          font-size: 2.4em;
        }

        .edit_brand_wrapper {
          .edit_brand {
            font-size: 1.4em;
          }
        }

        // .profile_status {
        //   top: -5em;
        //   height: fit-content;
        //   padding: 0;
        //   margin: 0;
        // }
      }
    }
  }
}

@media (max-width: 600px) {
  .business_banner {
    .biz_bg_img {
      height: 15em;
    }

    .blue_strip {
      .strip_flex {
        .logo_wrapper {
          max-width: 8em;
          margin: 0 1.2em 0 0;

          .logo_box {
            min-width: 8em;
            min-height: 8em;
            max-width: 8em;
            max-height: 8em;

            .brand_logo {
              max-width: 8em;
              max-height: 8em;
            }

            .brand_logo_edit {
              top: 0.25em;
              left: 0.25em;
            }
          }
        }

        .brand_name {
          font-size: 1.6em;
        }

        .edit_brand_wrapper {
          max-width: 50%;
          .edit_pin {
            margin: 0;
            max-width: 1.2em;
          }

          .edit_brand {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}
