@import "../../common.scss";

.datatypes_sec1 {
  height: 100%;
  min-height: 100vh;
  background: $color-000000 url("../../images/general/form-bg.jpg") no-repeat
    center;
  background-size: cover;
  padding: 15em 0 0;
}
