@import "../../common.scss";
.notice {
  @include textStyles(1.125em, 1.607em, 0.56px);
  font-weight: 400;
  margin: 1.25em auto 0;
  text-align: center;
  color: $color-FFFFFF;
  position: relative;
    z-index: 1;
  .anchor {
    color: $color-014FE0;
    text-decoration: underline;
    cursor: pointer;
  }
}

.black {
  color: $color-111111;
}

@media (max-width: 600px) {
  .notice {
    @include textStyles(1.2em, 1.428, 0.28px);
    margin: 1.571428571428571em auto 0;
  }
}
