@import "../../common.scss";

.fullwidth_input {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1.5px solid $color-707070;
  border-radius: 1em;
}

.fullwidth_input_light {
  background-color: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1.5px solid $color-707070;
  border-radius: 1em;
  color: $color-000000;
}

.business_edit_input {
  label {
    font-size: 1.125em !important;
    line-height: 1em !important;
    vertical-align: middle;
  }

  input {
    font-size: 1.125em !important;
    line-height: 1em !important;
    height: 0.75em;  
  }
}