@import "../../common.scss";

.modal-backdrop.show {
  opacity: 0.9;
}

.bname_edit {
  background: rgba($color: $color-FFFFFF, $alpha: 0.9);
  .modal-dialog {
    max-width: 57.813em;
  }

  .modal-content {
    background: transparent;

    .modal-body {
      position: relative;
      background: rgba($color: $color-FFFFFF, $alpha: 1);
      border: 2px solid #014FE0;
      border-radius: 22px;
      opacity: 1;
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      padding: 3.75em 13.438em;

      .close_icon {
        width: 100%;
        height: 100%;
        max-height: fit-content;
        max-width: 1.875em;
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
      }

      .edit_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-111111;

        .notice {
          @include textStyles(2.5em, 1.45em, 0.8px);
          text-align: center;
          font-weight: 600;
        }

        .current_name {
          @include textStyles(1.125em, 1.2em, 0);
          text-align: center;
          font-weight: 500;
          margin: 1.778em 0 2.222em;
        }

        .field_wrapper {
          margin: 0 0 2.5em;
        }

        .cta_wrapper {
          display: flex;
          justify-content: center;

          .solid_cta {
            margin: 0 1em;
          }
        }
      }
    }
  }
}

.white_theme {
  background: rgba($color: $color-FFFFFF, $alpha: 0.15);

  .modal-content {
    background: transparent;

    .modal-body {
      background: rgba($color: $color-FFFFFF, $alpha: 1);
      border: 1px solid #014fe0;
      border-radius: 22px;
      opacity: 1;
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      padding: 2.5em;
    }
  }
}

@media (max-width: 992px) {
  .bname_edit {
    .modal-content {
      .modal-body {
        .edit_content {
          .current_name {
            @include textStyles(1.5em, 1.2em, 0);
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .bname_edit {
    .modal-content {
      .modal-body {
        padding: 2.5em 1.5em;

        .edit_content {
          .notice {
            @include textStyles(1.8em, 1.45em, 0.8px);
          }

          .current_name {
            @include textStyles(1.4em, 1.2em, 0);
          }
        }
      }
    }
  }
}