@import "../../common.scss";

.blogslisting_main {
  position: relative;
  padding: 10em 0 0;
  .blogslisting_background {
    position: absolute;
    // position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    // min-height: auto;
    z-index: -1;
    object-fit: cover;
    // object-position: top;
  }
}

.blogslisting_sec1 {
  .breadcrumb_wrapper {
    border-bottom: none;
  }
}

.blogslisting_sec2 {
  position: relative;
  padding: 3.75em 0 3.125em;
  &::before {
    content: "";
    background-color: #a9a9a9;
    width: 100%;
    max-width: 92.5733%;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .blogslisting_row {
    margin: 0 auto;
    width: 100%;
    // max-width: 98.204%;
    max-width: 102.5em;
  }
  .blogslisting_col {
    padding: 0;
    &:nth-child(3n + 2) .blogslisting_content_wrapper {
      margin: 0 auto 6.25em;
    }
    &:nth-child(3n + 3) .blogslisting_content_wrapper {
      margin-left: auto;
    }
  }
  .blogslisting_content_wrapper {
    width: 100%;
    // max-width: 31.25em;
    max-width: 91.466%;
    margin-bottom: 6.25em;
    .blogslisting_img {
      width: 100%;
      max-width: 100%;
      //   border-radius: 20px;
    }
    .details_wrapper {
      margin: 1.5em 0 0;
    }
    .date {
      color: #ef7b13;
      font-size: 1.125em;
      font-weight: 500;
      letter-spacing: 0.36px;
      line-height: normal;
      //   margin: 0 0 1.096em;
    }
    .title {
      color: #ffffff;
      font-size: 1.75em;
      font-weight: 500;
      letter-spacing: 0.56px;
      line-height: 1.357;
      margin: 0.7043em 0 1.143em;
      height: 100%;
      //   height: 4.25em;
      min-height: 4.25em;
    }
    .link {
      color: #014fe0;
      font-size: 1.25em;
      font-weight: 400;
      letter-spacing: 0.4px;
      line-height: 1.08;
    }
    .link_text {
      margin-right: 0.6em;
    }
    .right_arrow {
      width: 100%;
      max-width: 1.424em;
    }
  }
}

@media (max-width: 1080px) {
  .blogslisting_sec2 {
    &::before {
      max-width: 91.42%;
    }
  }
}

@media (max-width: 991px) {
  .blogslisting_sec2 {
    .blogslisting_row {
      max-width: 100%;
    }
    .blogslisting_col {
      &:nth-child(3n + 2) .blogslisting_content_wrapper {
        margin: 0 0 6.25em;
      }
      &:nth-child(3n + 3) .blogslisting_content_wrapper {
        margin-left: 0;
      }
      &:nth-child(2n + 2) .blogslisting_content_wrapper {
        margin-left: auto;
      }
    }
    .blogslisting_content_wrapper {
      max-width: 94%;
    }
  }
}

@media (max-width: 767px) {
  .blogslisting_main {
    padding: 5em 0 0;
  }

  .blogslisting_sec2 {
    padding: 4em 0 0;
    .blogslisting_col {
      &:nth-child(3n + 2) .blogslisting_content_wrapper {
        margin: 0 0 4em;
      }
    }
    .blogslisting_content_wrapper {
      max-width: 100%;
      margin-bottom: 4em;
      //   .blogslisting_img {
      //     border-radius: 11px;
      //   }
      .details_wrapper {
        margin: 1.5em 0 0;
      }
      .date {
        font-size: 1.4em;
      }
      .title {
        font-size: 2em;
        min-height: 100%;
        margin: 0.7em 0 1em;
      }
      .link {
        font-size: 1.6em;
      }
      .right_arrow {
        max-width: 1.424em;
      }
    }
  }
}
