name: Deploy to AWS S3 Prod
on:
  push:
    branches:
      - main # Adjust the branch name as needed
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install AWS CLI
        run: |
          sudo apt-get update -y
          sudo apt-get install -y python3-pip
          pip3 install awscli

      - name: Configure AWS credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          # Optionally, set the AWS region if needed:
          # aws configure set default.region ${{ secrets.AWS_REGION }}

      - name: Deploy to S3
        run: |
          aws s3 sync build/ s3://www.archinza.com/ --acl public-read --delete