@import "../../../../../common.scss";

// for both main and nested modals
// .file_upload_popup {
// .modal-backdrop,
.nested-backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
// }

.file_upload_popup {
  .modal-dialog {
    max-width: 100%;
    min-height: 100%;
    margin: 0 auto;
  }

  .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  .modal-header {
    padding: 0;
    border: none;

    .custom-cancel-btn {
      width: 100%;
      max-width: 4.5em;
      position: fixed;
      right: 2.5em;
      top: 2.5em;

      .ctm_img_bussine_edit_about {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .modal-body {
    background-color: #ffffff;
    border-radius: 1.25em;
    padding: 2.5em 2em;
    width: 100%;
    max-width: 42.61%;
    margin: 1em auto;

    .about_modal_bussines_heading {
      color: #111111;
      font-size: 2.25em;
      letter-spacing: 0.72px;
      line-height: 1.889;
      margin-bottom: 0.889em;
      text-align: center;
      font-weight: 600;
    }

    .file_upload_file_container {
      //   .ant-upload-drag-container {
      //     font-size: inherit;
      //   }

      .ant-upload-wrapper {
        font-size: inherit;

        .ant-upload-drag {
          max-width: 69.355%;
          margin: 0 auto;
          text-align: center;
          background: rgba(0, 0, 0, 0.02);
          border: 1px dashed #8d8d8d99;
          border-radius: 5px;

          &:focus,
          &:focus-within,
          &:active,
          &:hover {
            outline: none;
            box-shadow: none;
          }
        }
      }

      .ant-upload-drag-icon {
        margin-bottom: 0.75em;

        .upload_icon {
          width: 100%;
          max-width: 4.75em;
        }
      }

      .ant-upload-text {
        color: #111111;
        font-size: 1.5em;
        letter-spacing: 0px;
        line-height: 1.167;
        margin-bottom: 0.667em;
      }

      .ant-upload-hint {
        color: #111111;
        font-size: 1.125em;
        letter-spacing: 0px;
        line-height: 1.612;
        opacity: 0.6;
      }

      .ant-upload-list {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1194px) {
  .file_upload_popup {
    .modal-body {
      max-width: 55%;
    }
  }
}

@media (max-width: 991px) {
  .file_upload_popup {
    .modal-body {
      max-width: 65%;
    }
  }
}

@media (max-width: 767px) {
  .file_upload_file_container{
    width: 100%;
  }
  .file_upload_popup {
    .modal-dialog {
      height: 100vh;
    }

    .modal-content {
      background-color: #ffffff;
      border: none;
      padding: 7.2em 1.6em 2em;
      height: 100%;
      overflow-y: auto;
    }

    .modal-header {
      .custom-cancel-btn {
        width: 100%;
        max-width: 2.4em;
        position: absolute;
        right: 1.8em;
        top: 1.9em;
      }
    }

    .modal-body {
      border-radius: 0;
      padding: 0 !important;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .about_modal_bussines_heading {
        font-size: 1.6em;
        letter-spacing: 0.32px;
        line-height: 1.625;
        margin-bottom: 0.75em;
      }

      .file_upload_file_container {
        .ant-upload-wrapper {
          .ant-upload-drag {
            max-width: 100%;
          }
        }

        .ant-upload-drag-icon {
          margin-bottom: 1.2em;

          .upload_icon {
            width: 100%;
            max-width: 4.6em;
          }
        }

        .ant-upload-text {
          font-size: 1.4em;
          letter-spacing: 0px;
          line-height: 1.542;
          margin-bottom: 0.858em;
        }

        .ant-upload-hint {
          color: #111111;
          font-size: 1.2em;
          letter-spacing: 0px;
          line-height: 1.8;
        }

        .ant-upload-list {
          margin: 0;
        }
      }
    }
  }
}