<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>BEAUTY&YOU Sign Up OTP</title>


</head>

<body style="
color: #fff ;
line-height: 1.4;
Margin: 0;
padding: 0;
font-family: 'Roboto', Arial, Helvetica, sans-serif;
background-color: #fff;
background-color: #fff;
">

    <table role="presentation" style="width: 600px; border: none; border-spacing: 0" align="center"
        valign="top">
                <table role="presentation">
                    <tbody>

                        <tr>
                            <td colspan="5" align="center">
                                <img style="width: 100%; max-width: 231px; height: 85px;" width="231" height="85" src="<%= base_url %>beauty-and-you.jpg
                                " alt="">
                            </td>
                        </tr>

                        <tr>
                            <td style="color: #ffffff; width: 600px; background-color: #fff; background-color: #1E3C4E; padding-bottom: 80px;"
                                colspan="5">
                                <p
                                    style="font-family: 'Roboto', Arial, Helvetica, sans-serif; Margin-left: 38px;  Margin-top: 60px;  font-size: 26px; letter-spacing: 0.6px;  line-height: 38px; font-weight: 400; color: #fff; Margin-right: 42px;">
                                    Hi <%= name %>,
                                    <br>
                                    <br>
                                    <span style="font-family: 'Roboto', Arial, Helvetica, sans-serif; font-size: 26px; letter-spacing: 0.6px;  line-height: 38px; font-weight: 400; color: #fff; padding-bottom: 15px;">
                                        Thank you for applying to the 2023 BEAUTY&YOU Awards.  We are excited to have you join us on this journey!
                                    </span>
                                    <br>
                                    <br>
                                    <span style="font-family: 'Roboto', Arial, Helvetica, sans-serif; font-size: 26px; letter-spacing: 0.6px;  line-height: 38px; font-weight: 400; color: #fff; padding-bottom: 15px;">
                                        So, what happens next?  The application period closes August 19th, 2023 at 11:59 PM IST.  Once we receive all applications, we will review and choose this year's finalists.
                                    </span>
                                    <br>
                                    <br>
                                    <span style="font-family: 'Roboto', Arial, Helvetica, sans-serif; font-size: 26px; letter-spacing: 0.6px;  line-height: 38px; font-weight: 400; color: #fff; padding-bottom: 25px;">
                                        Decisions will be shared in late August 2023.
                                    </span>
                                    <br>
                                    <br>
                                </p>

                                <p
                                    style="font-family: 'Roboto', Arial, Helvetica, sans-serif; Margin-left: 38px; line-height: 38px; letter-spacing: 0.33px; font-size: 26px; font-weight: 400; color: #fff; Margin-right: 42px;" >
                                        Good luck!  Regardless of the outcome, we are so thankful you chose to apply.  The world needs your creativity and ambition.
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-bottom: 20.2px; font-family: 'Roboto', Arial, Helvetica, sans-serif;" colspan="5">
                                <p
                                    style="Margin-left: 38px; Margin-right: 75.2px; Margin-top: 48.6px; Margin-bottom: 10.65px; font-size: 20px; font-weight: 400; color: #1E3C4E; line-height: 35.2px; width: 497.6px; height: 28.84px;">
                                    BEAUTY&YOU IS CREATED BY
                                </p>
        
                                <p style="Margin-left: 38px; Margin-right: 148.8px; font-family: 'Roboto', Arial, Helvetica, sans-serif;">
                                    <img style=" Margin-right: 148.8px; font-family: 'Roboto', Arial, Helvetica, sans-serif;"
                                        src="<%= base_url %>niv-logo-blue.jpg" alt="" width="400"
                                        height="38">
        
                                </p>
                                <p
                                    style="Margin-left: 38px; Margin-bottom: 9.2px; Margin-top: 26.65px; font-size: 20px; font-weight: 400; color: #1E3C4E; line-height: 35.2px; font-family: 'Roboto', Arial, Helvetica, sans-serif; height: 36px;">
                                    EXECUTIVE PRODUCER
                                </p>
        
                                <p style="Margin-left: 38px; Margin-right: 148.8px; font-family: 'Roboto', Arial, Helvetica, sans-serif;">
                                    <img src="<%= base_url %>idex.jpg" width="120" height="40" alt="">
                                </p>
                            </td>
                        </tr>
        
                        <tr>
                            <td style="font-family: 'Roboto', Arial, Helvetica, sans-serif; " colspan="5">
                                <hr style="background: #FBF7F3;">
                                <p
                                    style="font-size: 14px; font-weight: 400; line-height: 14px; width: 382.4px; Margin-left: 38px; Margin-top: 20px; Margin-bottom: 20px;">
                                    <a href="https://beautyandyouawards.com/about-us" target="main"
                                        style="color: #1E3C4E; text-decoration: none; ">ABOUT US</a>
                                </p>
                                <hr style="background: #FBF7F3;">
                                <p
                                    style="font-size: 14px; font-weight: 400; line-height: 14px; width: 382.4px; Margin-left: 38px; Margin-top: 20px; Margin-bottom: 20px;">
                                    <a href="https://beautyandyouawards.com/faq" target="main"
                                        style="color: #1E3C4E; text-decoration: none; ">FAQ</a>
                                </p>
                                <hr style="background: #FBF7F3;">
                                <p
                                    style="font-size: 14px; font-weight: 400; line-height: 14px; width: 382.4px; Margin-left: 38px; Margin-top: 20px; Margin-bottom: 20px;">
                                    <a href="https://beautyandyouawards.com/terms-and-conditions" target="main"
                                        style="color: #1E3C4E; text-decoration: none; ">TERMS & CONDITIONS</a>
                                </p>
                                <hr style="background: #FBF7F3;">
                                <p
                                    style="font-size: 14px; font-weight: 400; line-height: 14px; width: 382.4px; Margin-left: 38px; Margin-top: 20px; Margin-bottom: 20px;">
                                    <a href="https://beautyandyouawards.com/privacy-and-policy" target="main"
                                        style="color: #1E3C4E; text-decoration: none; ">PRIVACY POLICY</a>
                                </p>
                                <hr style="background: #FBF7F3;">
        
                            </td>
                        </tr>
        
                        <tr>
                            <td style="width: 50%; height: 35.25px; padding-bottom: 10px; padding-top: 10px;">
                                <p
                                    style="font-size: 14px; font-family: 'Roboto', Arial, Helvetica, sans-serif; font-weight: 400; line-height: 14px; color: #1E3C4E; Margin-left: 38px; Margin-top: 5px; Margin-bottom: 5px;">
                                    <a href="https://beautyandyouawards.com/contact-us"
                                        style="color: #1E3C4E;  font-family: 'Roboto', Arial, Helvetica, sans-serif; text-decoration: none; font-size: 14px; line-height: 14px; "
                                        target="main">
                                        CONTACT
                                    </a>
                                </p>
                            </td>
                            <td style="width: 142.4px; height: 35.25px; padding-bottom: 5px; padding-top: 5px;">
                                <p
                                    style="font-size: 14px; font-family: 'Roboto', Arial, Helvetica, sans-serif; font-weight: 400; line-height: 14px; color: #1E3C4E; Margin-top: 5px; Margin-bottom: 5px;">
                                    <p href="#"
                                        style="pointer-events: none; color: #1E3C4E;  font-family: 'Roboto', Arial, Helvetica, sans-serif; text-decoration: none; font-size: 14px; line-height: 14px; cursor: none;"
                                        target="main">
                                        FOLLOW US
                                    </p>
                                </p>
                            </td>
                            <td style="padding-bottom: 5px; padding-top: 5px; Margin-left: 5px; ">
                                <a href="https://www.instagram.com/beautyandyouawards/?igshid=YmMyMTA2M2Y%3D" target="main">
                                    <img src="<%= base_url %>instagram.jpg"
                                        style="height: 31.25px; width: 31.55px;" width="31" height="31" alt="">
                                </a>
                            </td>
                            <td style="padding-bottom: 5px; padding-top: 5px; padding-left: 10px;">
                                <a href="https://www.linkedin.com/showcase/beauty-you-awards" target="main">
                                    <img src="<%= base_url %>linkdin.jpg"
                                        style="width: 31.25px; height: 31.45px;" width="31" height="31" alt="">
                                </a>
                            </td>
                            <td style="padding-bottom: 5px; padding-top: 5px; padding-left: 10px;">
                                <a href="https://www.youtube.com/channel/UCo2cJCpgCOVf4RxmqTmuXDw?app=desktop" target="main">
                                    <img src="<%= base_url %>youtube.jpg"
                                        style="Margin-right: 25.5px; width: 38.4px; height: 27.05px;" width="38" height="27"
                                        alt="">
                                </a>
                            </td>
                        </tr>
        
                        <tr>
                            <td colspan="5" class="desc"
                                style="background-color: #1E3C4E; height: 52px; width: 600px; font-size: 22px; text-align: center; color: #fff; font-family: 'Roboto', Arial, Helvetica, sans-serif; line-height: 30px; Margin: 0; padding-top: 11.88px; padding-bottom: 16.12px;">
                                © 2023 Estée Lauder International, Inc.
                            </td>
                        </tr>
                    </tbody>
        
                </table>
                

      
    </table>
</body>

</html>