@import "../../common.scss";

.faq_main {
  position: relative;
  padding: 10em 0 0;
  .faq_background {
    // position: absolute;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100vh;
    // min-height: auto;
    z-index: -1;
    object-fit: cover;
    object-position: top;
  }
  .breadcrumb_conatiner_faq_light_mode{
    .title{
      color: #000 !important;
    }
  }

}

.faq_sec1 {
  .cta_container {
    padding-top: 3.75em;
  }
}

.faq_sec2 {
  .accordion_wrapper {
    padding: 5.25em 13.25em 6.890625em;
  }
  .accordion-item {
    border: 0;
    background-color: transparent;
    margin-bottom: 3em;
  }
  .accordion-header {
    font-size: inherit;
  }
  .accordion-body {
    padding: 0;
    padding-right: 3.625em;
  }
  .accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent;
    border-bottom-left-radius: 0;
    box-shadow: none;
    color: #ef7b13;
  }
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
  }
  .accordion-button {
    background-color: transparent;
    justify-content: space-between;
    color: #ef7b13;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 0.64px;
    line-height: 1.4;
    padding: 0;
  }
  .accordion-button::after {
    background-image: url("../../images/general/plusIcon.svg");
    background-size: 100%;
    background-position: center;
    margin-left: 0;
    width: 0.7021875em;
    height: 0.7021875em;
    object-fit: contain;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("../../images/general/minusIcon.svg");
    background-size: 100%;
    background-position: center;
    margin-left: 0;
    width: 0.7021875em;
    height: 0.7021875em;
    object-fit: contain;
  }
  .accord_desc {
    color: #ffffff;
    font-size: 1.375em;
    font-weight: 400;
    letter-spacing: 0.44px;
    line-height: 1.4545;
    padding-top: 1.4432em;
    opacity: 0.8;
  }
}

@media (max-width: 835px) {
  .faq_sec2 {
    .accordion_wrapper {
      padding: 5.25em 4em 6.890625em;
    }
  }
}

@media (max-width: 767px) {
  .faq_main {
    padding: 5em 0 0;
  }
  .faq_sec1 {
    .cta_container {
      padding-top: 4em;
    }
  }
  .faq_sec2 {
    .accordion-item {
      margin-bottom: 3.2em;
    }
    .accordion-body {
      padding-right: 3em;
    }
    .accordion_wrapper {
      padding: 4em 0.75em 4em 0.95em;
    }
    .accordion-button {
      font-size: 1.6em;
      letter-spacing: 0.8px;
      line-height: normal;
    }
    .accord_desc {
      font-size: 1.4em;
      letter-spacing: 0.28px;
      line-height: 1.572;
      padding-top: 1.4286em;
    }
  }
}
