@import "../../../common.scss";

.otp_sec1 {
  position: relative;
  overflow: hidden;
  padding: 15em 0 0;
  .text_container {
    z-index: 1;
    color: $color-FFFFFF;
    text-align: center;
    .head_text {
      color: $color-EF7B13;
      font-size: 1.25em;
      font-weight: 400;
      letter-spacing: 0.4px;
      line-height: 0.981em;
      font-weight: 500;
    }
    .title {
      @include textStyles(2.5em, 1.5em, 0.8px);
      font-weight: 500;
      margin: 0.55em auto 2em;
      .coloured_text {
        color: $color-F77B00;
      }
    }
    .description {
      @include textStyles(1.75em, 0.771em, 0.56px);
      font-weight: 300;
      opacity: 0.8;
    }
    .icon_notice_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2.188em 0;
      .icon {
        max-width: 5.063em;
        max-height: 5.063em;
        object-fit: contain;
        margin: 0 1.438em 0 0;
      }
    }
  }

  .otp_box_wrapper {
    .otp_input_wrapper {
      justify-content: center;
      input {
        outline: 0 !important;
      }
    }
    .otp_input {
      background-color: transparent;
      background-color: rgba($color-FFFFFF, 0.05);
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      border: 1.5px solid rgba($color: $color-707070, $alpha: 0.25);
      border-radius: 0.444em;
      font-size: 2.183em;
      font-weight: bolder;
      font-family: "Poppins";
      color: $color-FFFFFF;
      width: 3em !important;
      height: 3em;
      display: inline-block;
      margin: 0 0.386em;
      outline: "none";
      &:focus {
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
      }
    }
    .otp_focused {
      border: 2.5px solid $color-FFFFFF;
    }
  }

  .next_logout {
    color: $color-FFFFFF;
    text-align: center;
    margin: 3.938em 0 5em;
    .notice {
      @include textStyles(1.125em, 1.607em, 0.56px);
      font-weight: 400;
      margin: 1em auto 0;
      span {
        color: $color-F77B00;
        font-style: italic;
        text-decoration: underline;
      }
    }
    .cta_wrapper {
      width: 100%;
      margin: 0 auto 1.813em;
      display: flex;
      align-items: center;
      justify-content: center;
      .next_button {
        color: $color-FFFFFF;
        background-color: $color-014FE0;
        @include blueShadow;
        border-radius: 50px;
        border: none;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.08;
        width: 100%;
        max-width: 100%;
        padding: 1.05em 2.5em 1.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        max-width: fit-content;
        .icon {
          margin: 0 0 0 0.5em;
          object-fit: contain;
          max-width: 1.25em;
        }
      }
      .back_button {
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.08;
        padding: 1.05em 2em 1.1em;
        cursor: pointer;
        text-decoration: underline;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
}

.otp_toast {
  background: transparent !important;
  min-width: 25em;
  width: max-content;
  .otp_box {
    width: max-content;
    background: $color-014FE0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.875em 3.313em;
    border-radius: 1.25em;
    .otp_resend_icon {
      max-width: 2.438em;
      max-height: 2.438em;
      margin: 0 1.281em 0 0;
    }
    .title {
      width: 100%;
      @include textStyles(1.5em, 0.771em, 0);
      color: $color-FFFFFF;
      font-weight: bold;
    }
  }
}

@media (max-width: 992px) {
  .otp_sec1 {
    padding: 4.4em 0 0;
    .text_container {
      .head_text {
        font-size: 1.6em;
      }
      .title {
        font-size: 2.8em;
        br {
          display: none;
        }
      }
      .description {
        font-size: 1.6em;
      }
    }
    .next_logout {
      .cta_wrapper {
        .next_button,
        .back_button {
          font-size: 1.3em;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .otp_sec1 {
    padding: 10em 0 0;
    .text_container {
      .head_text {
        font-size: 1.4em;
      }
      .title {
        font-size: 2em;
        margin: 0.6em 0 1.4em;
      }
      .icon_notice_wrapper {
        margin: 0 0 3.2em;
        flex-direction: column;
        .icon {
          margin: 0 0 1.6em;
        }
      }
    }

    .otp_box_wrapper {
      .otp_input_wrapper {
        justify-content: center;
      }
      .otp_input {
        border: 1.5px solid rgba($color: $color-707070, $alpha: 0.25);
        border-radius: 0.25em;
        font-size: 2.2em;
        width: 2.136em !important;
        height: 2.136em;
        margin: 0 0.25em;
      }
    }

    .next_logout {
      margin: 4em 0 5em;
      .cta_wrapper {
        margin: 0 auto;
        .next_button {
          font-size: 1.4em;
          max-width: fit-content;
        }
        .back_button {
          font-size: 1.4em;
          padding-left: 2em;
          padding-right: 2em;
        }
      }
    }
  }
}
