@import "../../common.scss";

.accordion-wrapper {
  padding: 0;
  transition: all 0.35s ease-in;
  margin: 0 0 3.75em;
}

.border-accordion {
  border-left: 0.313em solid $color-6D6E70;
  padding: 0 0 0 2em;
  transition: all 0.35s ease-in;
  margin: 0 0 3.75em;
}

.border-accordion.active {
  border-left: 0.313em solid $color-FFFFFF;
}

.accordion-item {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-item.active {
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.accordion-title {
  @include textStyles(2em, 1.797em, 0.64px);
  color: $color-EF7B13;
  font-weight: 500;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  .plus-minus {
    color: $color-FFFFFF
  }
}

.accordion-content {
  @include textStyles(1.364em, 1.688em, 0.64px);
  padding: 0.688em 0 0;
  color: $color-FFFFFF;
  font-weight: 300;
  ul {
    padding: 0 0 0 1em;
    li {
      list-style-type: disc;
      &::marker {
        font-size: 0.75em;
      }
    }
  }
  a {
    text-decoration: underline;
  }
}

@media (max-width: 992px) {
  .border-accordion {
    margin: 0 0 3.2em;
  }
  .accordion-content {
    font-size: 1.6em;
  }
}

@media (max-width: 600px) {
  .accordion-title {
    font-size: 1.6em;
  }
  .accordion-content {
    font-size: 1.6em;
    ul li {
      &::marker {
        font-size: 1em;
      }
    }
  }
}
