@import "../../common.scss";

.info_icon_v2 {
  font-size: 1em !important;

  .info_icon_v2 {
    height: 2.578em;
    width: 2.578em;
  }
}

.modal-backdrop.show {
  opacity: 0.9;
}

.define_modal {
  .modal-dialog {
    max-width: 67.063em;
  }

  .modal-content {
    background: transparent;

    .modal-body {
      background: rgba($color: $color-FFFFFF, $alpha: 0.15);
      border: 1px solid #014fe0;
      border-radius: 22px;
      opacity: 1;
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      padding: 2.5em;

      .icon {
        @include textStyles(3em, 1em, 0.36px);
        font-weight: 300;
        opacity: 0.8;
        color: #ffffff;
      }

      .close_icon {
        width: 100%;
        max-width: 1.875em;
        position: absolute;
        top: 0.75em;
        right: 0.75em;
        cursor: pointer;
      }

      .define_list {
        .list_item {
          @include textStyles(1.125em, 1.344em, 0.36px);
          font-weight: 300;
          padding: 2em 0 0;
          opacity: 0.8;
          color: #ffffff;
        }
      }
    }
  }
}

.white_theme {
  background: rgba($color: $color-FFFFFF, $alpha: 0.15);

  .modal-content {
    background: transparent;

    .modal-body {
      background: rgba($color: $color-FFFFFF, $alpha: 1);
      border: 1px solid #014fe0;
      border-radius: 22px;
      opacity: 1;
      backdrop-filter: blur(11px);
      -webkit-backdrop-filter: blur(11px);
      padding: 2.5em;

      .icon {
        @include textStyles(3em, 1em, 0.36px);
        font-weight: 300;
        opacity: 0.8;
        color: #000000de;
      }

      .define_list {
        .list_item {
          @include textStyles(1.125em, 1.344em, 0.36px);
          font-weight: 300;
          padding: 2em 0 0;
          opacity: 0.8;
          color: #000000de;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .define_modal {
    .modal-content {
      .modal-body {
        padding: 2.5em 1.5em;
      }
    }
  }
}