<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Reset OTP</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
  </style>
</head>

<body>
  <div style="text-align: center; margin-top: 40px;">
    <h2>Enter the code below to reset your password</h2>
    <p style="font-size: 26px; font-weight: bold; margin-bottom: 20px;">
      <%= otp %>
    </p>
  </div>
  <div style="text-align: center; margin-top: 20px; font-size: 14px;">
    &copy; <%= (new Date()).getFullYear() %> Archinza Connect Pvt Ltd.
  </div>
</body>

</html>