<html>
<head>
<title>Our Bagalur Parks Ready For Occupancy</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (July Emailer-01.jpg) -->
<table id="Table_01" width="901" height="1601" border="0" cellpadding="0" cellspacing="0" align="center"
		valign="top">
	<tr style="background-color: #efefef;">
		<td style="background-color: #efefef;" colspan="15">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_01.jpg" width="900" height="9" alt=""></td>
		<td style="background-color: #efefef;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="9" alt=""></td>
	</tr>
	<tr style="background-color: #efefef;">
		<td style="background-color: #efefef;" colspan="11" rowspan="2">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_02.jpg" width="532" height="282" alt=""></td>
		<td style="background-color: #efefef;" colspan="3">
			<a href="https://www.welspunone.com/" target="_blank">
				<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_03.jpg" width="354" height="93" border="0" alt=""></a></td>
		<td style="background-color: #efefef;" rowspan="13">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_04.jpg" width="14" height="1591" alt=""></td>
		<td style="background-color: #efefef;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="93" alt=""></td>
	</tr>
	<tr style="background-color: #efefef;">
		<td style="background-color: #efefef;" colspan="3">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_05.jpg" width="354" height="189" alt=""></td>
		<td style="background-color: #efefef;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="189" alt=""></td>
	</tr>
	<tr style="background-color: #efefef;">
		<td style="background-color: #efefef;" rowspan="11">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_06.jpg" width="52" height="1309" alt=""></td>
		<td style="background-color: #efefef;" colspan="12">
			<a href="https://www.youtube.com/watch?v=MiilKSY6snc" target="_blank">
				<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_07.jpg" width="782" height="332" border="0" alt=""></a></td>
		<td style="background-color: #efefef;" rowspan="11">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_08.jpg" width="52" height="1309" alt=""></td>
		<td style="background-color: #efefef;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="332" alt=""></td>
	</tr>
	<tr style="background-color: #efefef;">
		<td style="background-color: #efefef;" colspan="12">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_09.jpg" width="782" height="752" alt=""></td>
		<td>
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="752" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;" colspan="8" rowspan="2">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_10.jpg" width="218" height="96" alt=""></td>
		<td style="background-color: #3f3f41;" colspan="3">
			<a href="https://www.welspunone.com/enquire-with-us" target="_blank">
				<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_11.jpg" width="360" height="72" border="0" alt=""></a></td>
		<td style="background-color: #3f3f41;" rowspan="9">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_12.jpg" width="204" height="225" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="72" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;" colspan="3" rowspan="4">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_13.jpg" width="360" height="85" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="24" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;" rowspan="7">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_14.jpg" width="21" height="129" alt=""></td>
		<td style="background-color: #3f3f41;" rowspan="2">
			<a href="https://www.youtube.com/channel/UCX7BVfh5WEEotOqoPDqtmUg" target="_blank">
				<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_15.jpg" width="37" height="36" border="0" alt=""></a></td>
		<td style="background-color: #3f3f41;" rowspan="3">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_16.jpg" width="1" height="61" alt=""></td>
		<td style="background-color: #3f3f41;">
			<a href="https://www.facebook.com/WelspunOne/" target="_blank">
				<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_17.jpg" width="35" height="35" border="0" alt=""></a></td>
		<td style="background-color: #3f3f41;" rowspan="3">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_18.jpg" width="2" height="61" alt=""></td>
		<td style="background-color: #3f3f41;">
			<a href="https://www.linkedin.com/company/welspunone/" target="_blank">
				<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_19.jpg" width="32" height="35" border="0" alt=""></a></td>
		<td style="background-color: #3f3f41;" colspan="2" rowspan="3">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_20.jpg" width="90" height="61" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="35" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;" rowspan="2">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_21.jpg" width="35" height="26" alt=""></td>
		<td style="background-color: #3f3f41;" rowspan="2">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_22.jpg" width="32" height="26" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="1" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_23.jpg" width="37" height="25" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="25" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;" colspan="8">
			<a href="mailto:contact_welspunone@welspun.com">
				<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_24.jpg" width="269" height="24" border="0" alt=""></a></td>
		<td style="background-color: #3f3f41;" colspan="2" rowspan="4">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_25.jpg" width="288" height="68" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="24" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;" colspan="8">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_26.jpg" width="269" height="6" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="6" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;" colspan="6">
			<a href="https://www.welspunone.com/" target="_blank">
				<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_27.jpg" width="188" height="22" border="0" alt=""></a></td>
		<td style="background-color: #3f3f41;" colspan="2" rowspan="2">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_28.jpg" width="81" height="38" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="22" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;" colspan="6">
			<img style="display: inline-block" src="<%= base_url %>images/July-Emailer-01_29.jpg" width="188" height="16" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="16" alt=""></td>
	</tr>
	<tr style="background-color: #3f3f41;">
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="52" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="21" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="37" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="1" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="35" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="2" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="32" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="81" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="9" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="72" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="190" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="98" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="204" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="52" height="1" alt=""></td>
		<td style="background-color: #3f3f41;">
			<img style="display: inline-block" src="<%= base_url %>images/spacer.gif" width="14" height="1" alt=""></td>
		<td style="background-color: #3f3f41;"></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>